body {
    font-family: 'Roboto', 'Courier New', monospace;
    font-weight: 400;
}

.box2 {
  height: 500px;
  width: 500px;
  background-color: yellow;
  position: relative;
  animation: motion 1s linear 200ms infinite;
}

@keyframes motion {
  0% {
    left: 0px;
    background-color: blue;
  }

  50% {
    left: 500px;
    background-color: black;
  }

  100% {
    left: 0px;
    background-color: yellow;
  }
}