* {
  margin: 0;
  padding: 0;
  font-size: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

.sandbox {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: #8d8d8d;
  overflow: hidden;
  margin: auto;
}

.grass {
  position: absolute;
  right: 0;
  left: 0;
  top: 90%;
  bottom: 0;
  background-color: darkgreen;
}

/* 
UFO
*/

.ufo {
  position: absolute;
  height: 150px;
  width: 150px;
  top: 50%;
  left: 50%;
  margin-top: -75px;
  margin-left: -75px;
  animation: ufo 5000ms ease-in-out forwards;
}

.ufo::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(img/ufo-svgrepo-com.svg);
  background-repeat: no-repeat;
  z-index: 3;
}

@keyframes ufo {
  0% {
    top: -150px;
  }
  40% {
    top: 50%;
    margin-top: -75px;
  }
  80% {
    top: 50%;
    margin-top: -75px;
    left: 50%;
  }
  100% {
    top: 10%;
    left: -150px;
  }
}

.ufo .beam {
  position: absolute;
  top: 125px;
  left: 25px;
  height: 0px;
  width: 100px;
  background-color: rgba(200, 0, 0, 0.7);
  z-index: 2;
  animation: beam 2000ms 2000ms ease-in-out forwards;
}

@keyframes beam {
  50% {
    height: calc(40vh - 45px);
  }

  75% {
    height: calc(40vh - 45px);
  }
  100% {
    height: 0px;
  }
}

/* 
HYPNO TOAD
*/

.hypnotoad {
  position: absolute;
  top: 50%;
  left: 50%;
}

.toad {
  position: absolute;
  height: 80px;
  width: 80px;
  top: 50%;
  left: 50%;
  margin-top: -40px;
  margin-left: -40px;
  background-image: url(img/hypnotoad.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 2;
  animation: toadPort 4000ms ease-in-out forwards;
}

@keyframes toadPort {
  0% {
    top: -150px;
  }

  50% {
    top: 50%;
  }
  55%{
    top: 50%;
  }
  85% {
    top: 92%;
  }

  100% {
    top: 92%;
  }
}

.hypno-on {
  position: relative;
  display: none;
}

.toad:hover > .hypno-on {
  display: block;
}

.hypno {
  position: fixed;
  height: 100px;
  width: 100px;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  border-radius: 50%;
  background-image: url(img/spiral.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  animation: hypno 4500ms linear infinite;
  background-color: white;
  opacity: 0.75;
}

.hypno.x2 {
  background-color: red;
  height: 200px;
  width: 200px;
  margin-top: -100px;
  margin-left: -100px;
  animation: hypno 4000ms linear infinite reverse;
}

.hypno.x3 {
  background-color: blue;
  height: 400px;
  width: 400px;
  margin-top: -200px;
  margin-left: -200px;
  animation: hypno 3500ms linear infinite;
}

.hypno.x4 {
  background-color: green;
  height: 600px;
  width: 600px;
  margin-top: -300px;
  margin-left: -300px;
  animation: hypno 3000ms linear infinite reverse;
}

.hypno.x5 {
  background-color: yellow;
  height: 800px;
  width: 800px;
  margin-top: -400px;
  margin-left: -400px;
  animation: hypno 2500ms linear infinite;
}

@keyframes hypno {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}