body {
  font-family: 'Roboto', sans-serif, monospace;
  font-size: 0;
  font-weight: 400;
}

.wrapper {
  width: 80%;
  max-width: 1000px;
  margin: auto;
  min-width: 320px;
}

header {
  padding: 26px;
}

header::after {
  content: "";
  display: table;
  clear: both;
}

header .logo,
header nav {
  display: inline-block;
  vertical-align: middle;
}

header .logo {
  text-transform: uppercase;
  font-size: 28px;
  /* padding: 4px 0; */
  color: #636666;
  /* font-weight: 600; */
}

header nav {
  float: right;
}

header nav ul {
  text-align: right;
  display: inline-block;
}

header nav ul li {
  display: inline-block;
  margin: auto 25px;
  font-size: 12px;
  padding: 7px 0;
  cursor: pointer;
}

header nav ul li:hover {
  border-bottom: 1px solid #8ecb7b;
  padding-bottom: 6px;
}

header nav a {
  display: inline-block;
  font-size: 12px;
  margin-left: 25px;
  padding: 7px 29px;
  border: 1px #8ecb7b solid;
  border-radius: 14px;
  color: #8ecb7b;
  text-decoration: none;
}

header nav a:hover {
  color: white;
  background-color: #8ecb7b;
}

.top {
  width: 100%;
  background-color: #4ca368;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 80px;
}

.top h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.top p {
  font-size: 12px;
  line-height: 1.5em;
  width: 80%;
  margin: auto;
}

.top .form-tos {
  color: #ffffff;
  margin-top: 14px;
}

.top img {
  margin: 40px auto 80px;
  width: 80%;
}

.top form input {
  border: #37804e solid 2px;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  font-size: 12px;
  padding: 9px 21px;
  line-height: 1em;
  outline: none;
}

.top form button {
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  font-size: 12px;
  line-height: 1em;
  padding: 10px 21px;
  border: #37804e solid 2px;
  background-color: #37804e;
  color: #ffffff;
}

.top form button:hover {
  cursor: pointer;
}

main {
  background: linear-gradient(-45deg, #ffffff 25%, #ececec 25%, #ececec 50%, #ffffff 50%, #ffffff 75%, #ececec 75%, #ececec 100%);
  background-size: 5px 5px;
}

main .signup-title {
  font-size: 36px;
  padding-top: 100px;
  padding-bottom: 50px;
  text-align: center;
}

main .sign-box {
  width: 80%;
  margin: auto;
  background-color: #ffffff;
  /* border: 1px #ccc solid; */
  box-shadow: #ececec 0px 0px 4px 1px;
  padding: 30px;
  text-align: center;
  margin-bottom: 30px;
}

main .sign-box .chevron {
  display: block;
  text-decoration: none;
  font-size: 28px;
  line-height: 1em;
  color: #d6d6d6;
}

main .sign-box .content i,
main .sign-box .content div {
  display: inline-block;
  vertical-align: top;
}

main .sign-box .content {
  margin-top: 30px;
}

main .sign-box .content .sign-text h2 {
  text-transform: uppercase;
  font-size: 19px;
  color: #5db442;
  margin-bottom: 24px;
}

main .sign-box .sign-text {
  margin-left: 30px;
}

main .sign-box ol {
  list-style: decimal;
  list-style-position: inside;
  font-size: 12px;
}

main .sign-box ol li {
  margin-bottom: 16px;
  color: #4e4e4e;
}

main .fa-sign-in-alt {
  font-size: 72px;
  position: relative;
  top: -0.12em;
  color: #5db442;
}

main .btns {
  padding-bottom: 110px;
  text-align: center;
}

main .btns p {
  display: inline-block;
  width: 32%;
  color: #414141;
  text-align: center;
  font-size: 12px;
  vertical-align: top;
}

main .btns p.csp {
  margin-left: 2%;
  margin-right: 2%;
}

main .btns p::before {
  content: "";
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3em;
  height: 3em;
  border: 1px #5db442 solid;
  border-radius: 90%;
  background-color: #ffffff;
  margin: 0 auto;
  font-family: "Font Awesome 5 Free";
  font-size: 15px;
  font-weight: 900;
  color: #5db442;
  margin-bottom: 15px;
}

main .btns p:hover {
  cursor: pointer;
}

main .btns p:hover::before {
  color: #ffffff;
  background-color: #5db442;
}

main .btns p.ce::before {
  content: "\f2f6";
}

main .btns p.csp::before {
  content: "\f127";
}

main .btns p.su::before {
  content: "\f14a";
}

@media (max-width: 760px) {
  header {
    text-align: center;
  }

  header nav {
    float: none;
  }

  header nav ul {
    text-align: center;
  }

  header nav ul li {
    display: block;
    margin: 12px auto;
  }

  header nav a {
    display: block;
    margin: 0;
  }

  header .logo {
    display: block;
  }
}