* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ecf0f1;
    display: flex;
    justify-content: space-between;
    padding: 20px 0 10px 10px;
}

input, select, button {
    appearance: none;
    -webkit-appearance: none;
    border: none;
    outline: none;
}

input, select {
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    border-top: 3px solid #bdc3c7;
    margin-bottom: 10px;
}

button {
    background-color: #2ecc71;
    color: #fff;
    padding: 15px;
    border-radius: 5px;
    border-top: 3px solid #16a085;
    cursor: pointer;
}

.form {
    width: 30vw;
    display: flex;
    flex-direction: column;
}

table {
    width: 69vw;
    max-width: 800px;
}

table tr:nth-of-type(odd) {
    background-color: #fff;
}

table tr td {
    padding: 6px 10px;
}