* {
    margin: 0;
    padding: 0;
}
article {
    width: 80%;
    color: grey;
    text-align: center;
    border: green 1px dotted;
    margin: 25px auto;
    padding: 15px;
}

article p {
    text-indent: 5em;
    border: 1px lightslategray dashed;
    word-spacing: 10px;
    padding: 15px;
    display: inline-block;

    width: 300px;
}

article div {
    padding: 15px;
    border: 1px lightslategray dashed;
    width: 300px;
    margin: auto;
}