*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    background-color: #000000;
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
}

.hidden {
    display: none !important;
}

.mode {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: #000000;
    color: #CDCDCD;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

h1 {
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 0.2em;
}

.modeSelect {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.modeSelect input[type="radio"] {
    display: none;
}

.modeSelect #solo:checked~.modeSelectors>label[for="solo"], .modeSelect #versus:checked~.modeSelectors>label[for="versus"] {
    background-color: rgba(255, 255, 255, 0.6);
    border: 2px solid #457400;
}

.modeSelect .player[data-player="second"] {
    height: 0px;
    overflow: hidden;
    transition: height 250ms ease-in;
}

.modeSelect #versus:checked~.players .player[data-player="second"] {
    height: 33px;
}

.modeSelect .modeSelectors {
    font-size: 0;
}

.modeSelect .modeSelectors>label {
    display: inline-block;
    font-size: 20px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 5px;
    cursor: pointer;
    transition: background-color 250ms ease-in-out;
}

.modeSelect .modeSelectors>label:first-of-type {
    margin-right: 1em;
}

.modeSelect .modeSelectors>label:hover {
    background-color: rgba(255, 255, 255, 0.6);
}

.modeSelect .modeSelectors>label img {
    height: 5em;
}

.modeSelect .players {
    margin-top: 30px;
    flex: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modeSelect .player {
    margin-bottom: 20px;
}

.modeSelect .players label {
    border-radius: 0;
    font-size: 20px;
}

.modeSelect .players input {
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    border: none;
    font-family: inherit;
    font-weight: 700;
    font-size: 20px;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.6);
}

.modeSelect button {
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    border: none;
    font-family: inherit;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0.3em;
    border-radius: 5px;
    cursor: pointer;
}

.modeSelect button:hover {
    background-color: #005500;
}

.canvas {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pauseOverlay {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: #CDCDCD;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.pauseOverlay h2 {
    margin-bottom: 20px;
}

.pauseOverlay .info {
    width: 90%;
    max-width: 900px;
    text-align: center;
    line-height: 1.5em;
}

.pauseOverlay .info span {
    font-weight: 700;
    color: #adff2f;
}

.pauseOverlay .info p:last-child {
    margin-top: 20px;
}

.pauseOverlay .buttons {
    margin-top: 20px;
}

.pauseOverlay button {
    -webkit-appearance: none;
    appearance: none;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.2);
    color: #ffffff;
    font-family: inherit;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0.5em;
    cursor: pointer;
    transition: 250ms ease-in-out;
}

.pauseOverlay button:hover {
    background-color: rgba(255, 255, 255, 0.6);
    color: #2c2c2c;
}

.gameOver {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.gameOver .finalResult {
    color: #CDCDCD;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.gameOver h2 {
    flex: 100%;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1em;
}

.gameOver .winner {
    flex: 100%;
    text-align: center;
    margin-bottom: 0.5em;
}

.gameOver .winner span {
    text-transform: uppercase;
    font-weight: 700;
    color: #adff2f;
}

.gameOver .player {
    flex: 50%;
    text-align: center;
    border: 1px solid #333333;
    padding: 5px;
    background-color: #4d0101;
}

.gameOver .player .name {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 0.3em;
}

.gameOver .player .score span {
    font-weight: 700;
}

.gameOver .winner[data-won='playerOne']~#playerOne, .gameOver .winner[data-won='playerTwo']~#playerTwo {
    background-color: #014d12;
}

.gameOver .winner[data-won='draw']~#playerOne, .gameOver .winner[data-won='draw']~#playerTwo {
    background-color: #000000;
}

.gameOver .buttons {
    flex: 100%;
    margin-top: 15px;
    text-align: center;
}

.gameOver button {
    -webkit-appearance: none;
    appearance: none;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.2);
    color: #ffffff;
    font-family: inherit;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0.5em;
    cursor: pointer;
    transition: 250ms ease-in-out;
}

.gameOver button:hover {
    background-color: rgba(255, 255, 255, 0.6);
    color: #2c2c2c;
}