* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.hidden {
    display: none !important;
}

.inner {
    width: 80%;
    margin: auto;
}

.overlay {
    position: fixed;
    z-index: 999;
    width: 100%;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay__form {
    width: 80%;
    max-width: 600px;
    display: flex;
    flex-wrap: wrap;
    color: #eee;
}

.overlay__form .overlay__h2 {
    flex: 100%;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 1em;
}

.overlay__form input {
    flex: 80%;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    border: none;
    font-size: 16px;
    line-height: 30px;
    color: #eee;
    background-color: #5C5C5C;
    border-radius: 3px;
    border-bottom: 1px solid #eee;
    padding: 0 1em;
    margin-bottom: 1em;
}

.overlay__form button {
    flex: 100%;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    border: none;
    font-size: 18px;
    line-height: 28px;
    font-weight: 700;
    color: #eee;
    text-transform: uppercase;
    background-color: #0c8a08;
    border-radius: 3px;
    position: relative;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: background-color 250ms ease-in-out;
}

.overlay__form button:hover {
    color: darkblue;
    background-color: #15c50f;
}

.overlay__form button:active {
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.overlay__form .form__text {
    flex: 20%;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 0.5em;
    vertical-align: middle;
}

/* 
    Table formating
*/
td,
th {
    border-bottom: 1px solid rgb(190, 190, 190);
    padding: 10px;
}

td {
    text-align: center;
    text-transform: uppercase;
}

tr:nth-child(even) {
    background-color: #eee;
}

tr:hover {
    background-color: rgba(0,0,0,0.3);
}

th {
    background-color: #696969;
    color: #fff;
}

caption {
    padding: 10px;
    caption-side: bottom;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: 14px;
}

/* 
    Navbar
*/
nav {
    margin-top: 30px;
    text-align: center;
}
nav a {
    text-decoration: none;
    
}

nav li {
    list-style: none;
    margin: auto;
    max-width: 500px;
    font-size: 24px;
    line-height: 44px;
    color: #eee;
    background-color: green;
    position: relative;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    cursor: pointer;
}

/* 
    Main content
*/

main h1 {
    margin-top: 30px;
    text-align: center;
}