body {
    font-family: sans-serif;
    font-size: 16px;
    color: #333333;
}

.inner {
    width: 80%;
    max-width: 1000px;
    padding: 2em 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.imgWrapper {
    flex: 40%;
    max-width: 230px;
}

.inputs {
    flex: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inputs__h1 {
    flex: 100%;
    font-size: 32px;
    font-weight: 600;
    line-height: 1;
    text-align: center;
    margin-bottom: 0.5em;
}

.inputs input {
    -webkit-appearance: none;
    appearance: none;
    border: none;
    outline: none;
    width: 100%;
    font-size: 14px;
    line-height: 34px;
    padding: 0 13px;
    border-bottom: 1px solid #333333;
    margin-bottom: 1em;
}

.bad {
    background-color: darkred;
}

.inputs button {
    -webkit-appearance: none;
    appearance: none;
    border: none;
    outline: none;
    width: 100%;
    font-size: 16px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #0087F2;
    cursor: pointer;
    transition: background-color 250ms ease-in-out;
}

.inputs button:hover {
    background-color: #FF802C;
}

.results {
    margin-top: 30px;
    flex: 50%;
    background-color: #dedede;
    padding: 1.5em 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.results * {
    flex: 50%;
    margin-bottom: 1.5em;
}

.hidden {
    display: none;
}