body {
    font-family: 'Roboto', sans-serif, monospace;
    font-weight: 400;
  }

.inner {
  width: 90%;
  max-width: 950px;
  margin: auto;
}

header {
  background-color: #F7FCFF;
  position: fixed;
  width: 100%;
  z-index: 10;
}

header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

header nav .logo {
  height: 30px;
  width: auto;
}

header nav li {
  display: inline-block;
  font-size: 12px;
  color: #858991;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
}

header nav li:not(:last-of-type) {
  margin-right: 36px;
}

header nav li:last-of-type {
  color: #F8FCFD;
  padding: 14px 36px;
  background-color: #0EC0DE;
  border-radius: 16px;
}

article.paralax {
  padding: 400px 0 80px;
  background-image: url(img/mountain.jpg);
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  color: #F7FCFF;
}

article.paralax::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
}

article.paralax .inner {
  position: relative;
}

article.paralax h2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

article.paralax h2::before,
article.paralax h2::after {
  content: "\f005";
  font-weight: 600;
  font-family: "Font Awesome 5 Free";
  font-size: 10px;
  margin: auto 15px;
}

article .inner h2 {
  font-size: 34px;
  color: #F8FDFF;
  margin-bottom: 30px;
  text-align: center;
}

article .inner p {
  font-size: 16px;
  color: #F8FDFF;
  text-align: center;
  line-height: 1.5em;
}

article.about {
  padding: 70px 0;
}

article.about h2 {
  color: #0DBFDD;
}

article.about p {
  color: #44494d;
}

article.team {
  background-color: #0EC0DE;
  color: #FFFFFF;
  padding: 60px 0;
}

article.team h2 {
  margin-bottom: 100px;
}

article.team .team-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 80px;
}

article.team .team-list .person {
  margin: auto;
  margin-bottom: 20px;
}

article.team .circle {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  filter: grayscale(1);
  overflow: hidden;
  margin-bottom: 12px;
}

article.team p.name {
  line-height: 1em;
  font-weight: 900;
}

article.team p.title {
  font-weight: 400;
  font-style: italic;
}

article.team .btn {
  display: flex;
  justify-content: center;
}

article.team .btn > a {
  color: #FFFFFF;
  font-size: 12px;
  font-weight: 900;
  text-transform: uppercase;
  text-decoration: none;
  padding: 13px 36px;
  border: 1px solid #fff;
  border-radius: 16px;
}

#map {
  width: 100%;
  height: 600px;
}

footer {
  background-color: #45484D;
}

footer nav {
  padding: 20px 0;
  color: #D7DEE6;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #5A5D62;
}

footer nav li {
  display: inline-block;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 38px;
  cursor: pointer;
}

footer nav ul.links li:nth-child(2) {
  margin: 0 32px;
}

footer nav ul.social li {
  border: 1px solid #D7DEE6;
  border-radius: 50%;
  width: 38px;
  height: 38px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

footer nav ul.social li:nth-child(2) {
  margin: 0 10px;
}

footer ul.legal {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #72757A;
  font-size: 12px;
  padding: 15px 0;
}

footer ul.legal li:not(:last-of-type) {
  border-right: 1px solid #72757A;
  padding-right: 15px;
  cursor: pointer;
}

footer ul.legal li:not(:first-of-type) {
  padding-left: 15px;
}