body {
    font-family: sans-serif;
    font-size: 16px;
    color: #333333;
}

.inner {
    width: 80%;
    max-width: 1000px;
    padding: 2em 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.inputs {
    flex: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.inputs__h1 {
    flex: 100%;
    font-size: 32px;
    font-weight: 600;
    line-height: 1;
    text-align: center;
    margin-bottom: 0.5em;
}

.inputs input {
    -webkit-appearance: none;
    appearance: none;
    border: none;
    outline: none;
    width: 40%;
    font-size: 14px;
    line-height: 34px;
    padding: 0 13px;
    border-bottom: 1px solid #333333;
    margin-bottom: 1em;
}

.inputs button {
    -webkit-appearance: none;
    appearance: none;
    border: none;
    outline: none;
    width: 40%;
    font-size: 16px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #0087F2;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: background-color 250ms ease-in-out;
}

.inputs button.clear {
    width: 5%;
    color: #fff;
    background-color: darkred;
}

.inputs button:hover {
    background-color: #FF802C;
}

.inputs button:active {
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.del_button {
    max-height: 24px;
    cursor: pointer;
}

.results {
    margin-top: 30px;
    flex: 50%;
    background-color: #dedede;
    padding: 1.5em 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

td,
th {
    border-bottom: 1px solid rgb(190, 190, 190);
    padding: 10px;
}

td {
    text-align: center;
    text-transform: uppercase;
}

tr:nth-child(even) {
    background-color: #eee;
}

tr:hover {
    background-color: rgba(0,0,0,0.3);
}

th {
    background-color: #696969;
    color: #fff;
}

caption {
    padding: 10px;
    caption-side: bottom;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: 14px;
}

.invalid {
    font-weight: 700;
    color: darkred;
}

.resultsWrapper {
    width: 100%;
}

h2 {
    font-size: 24px;
    font-weight: 600;
    line-height: 1;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 0.5em;
}