* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: monospace;
}

.playground {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board {
    /* width: 50vw;
    height: 50vw; */
    max-width: 60vh;
    background-color: #333333;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
}

.cell {
    width: 20vh;
    height: 20vh;
    cursor: pointer;
    position: relative;
}

.playerX .cell.empty:hover::before,
.playerX .cell.empty:hover::after,
.cell.markedX::before,
.cell.markedX::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 16px;
    border-radius: 8px;
    background-color: #cecece;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}

.playerX .cell.empty:hover::after,
.cell.markedX::after {
    transform: translateY(-50%) rotate(-45deg);
}

.playerO .cell.empty:hover::after,
.cell.markedO::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    width: 80%;
    height: 80%;
    border-radius: 50%;
    background-color: transparent;
    border: 16px solid #cecece;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hdividers::before, .vdividers::before,
.hdividers::after, .vdividers::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    background-color: red;
}

.board.diagonalWinLR::after {
    content: '';
    position: absolute;
    height: 6px;
    width: 100%;
    border-radius: 3px;
    background-color: red;
    transform: rotate(45deg);
}

.board.diagonalWinRL::after {
    content: '';
    position: absolute;
    height: 6px;
    width: 100%;
    border-radius: 3px;
    background-color: red;
    transform: rotate(-45deg);
}

.hdividers::before {
    left: 0;
    top: calc(100% / 3);
}

.hdividers::after {
    left: 0;
    top: calc(100% / 3 * 2);
}

.vdividers::before {
    top: 0;
    left: calc(100% / 3);
    transform-origin: left;
    transform: rotate(90deg);
}

.vdividers::after {
    top: 0;
    left: calc(100% / 3 * 2);
    transform-origin: left;
    transform: rotate(90deg);
}