body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

div {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h2 {
    font-size: 30px;
    line-height: 30px;
}

p {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
}