body {
	background-image: url(wall.jpg);
	background-size: cover;
	background-attachment: fixed;
	font-family: 'Roboto', sans-serif;
}

main {
	display: block;
	width: 70%;
	max-width: 1000px;
	margin: 60px auto;
	margin-top: 50px;
	background-color: rgba(217, 229, 240, 0.75);
	border-radius: 6px;
	padding: 30px 60px;
	text-align: center;
	font-size: 0;
	box-shadow: 2px 2px 16px grey;
}

article {
	display: inline-block;
	width: 45%;
	border-radius: 12px;
	box-sizing: border-box;
	padding: 40px;
	color: #f5f5f5;
	text-align: left;
}

article h2 {
	font-size: 28px;
	/* font-weight: 600; */
	margin-bottom: 30px;
}

article p {
	font-size: 16px;
	line-height: 1.5em;
	padding-bottom: 16px;
}

article.first {
	background-color: #709EFE;
	margin-right: 10%;
}

article.second {
	background-color: #FF6F79;
}