/*
    Theme Name: Millenium Overload
    Author: Rimvydas
*/
/* line 18, style.less */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/* line 24, style.less */
a {
  text-decoration: none;
}
/* line 26, style.less */
img {
  max-width: 100%;
}
/* line 36, style.less */
body {
  background-color: #f7f9fc;
  font-family: 'Lato', sans-serif;
  font-family: 'Roboto', sans-serif;
}
/* line 42, style.less */
.progressBar {
  position: fixed;
  left: 0;
  top: 0;
  height: 4px;
  width: 55%;
  background-color: #5c6bc0;
  -webkit-transition: width 250ms ease-in;
  transition: width 250ms ease-in;
  z-index: 999;
}
/* line 53, style.less */
.wrapper {
  width: 82%;
  max-width: 1148px;
  margin: auto;
}
/* line 59, style.less */
.inner {
  width: 82%;
  max-width: 950px;
  margin: 0 auto;
}
/* line 65, style.less */
nav {
  padding: 80px 0;
}
/* line 68, style.less */
nav.inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/* line 74, style.less */
nav .logo {
  font-family: 'Lato', sans-serif;
  font-size: 42px;
  font-weight: 700;
  line-height: 42px;
  font-style: italic;
}
/* line 80, style.less */
nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
/* line 86, style.less */
nav ul li {
  display: inline-block;
  list-style: none;
  position: relative;
  padding: 4px 5px;
  color: #333333;
}
/* line 93, style.less */
nav ul li.current_page_item {
  color: #bdbdbd;
}
/* line 97, style.less */
nav ul li a {
  display: block;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 25px;
  position: relative;
  color: inherit;
}
/* line 106, style.less */
nav ul li a::after {
  content: '';
  position: absolute;
  bottom: -8px;
  display: block;
  width: 100%;
  height: 3px;
  background-color: #5c6bc0;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}
/* line 119, style.less */
nav ul li:not(.current_page_item):hover a::after {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}
/* line 124, style.less */
nav ul .search {
  height: 16px;
}
/* line 130, style.less */
.post {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 50px;
  position: relative;
}
/* line 136, style.less */
.post main {
  padding: 60px 97px 80px;
  position: relative;
}
/* line 141, style.less */
.post .category {
  position: absolute;
  top: 20px;
  right: -12px;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 32px;
  vertical-align: middle;
  padding: 0 12px;
  background-color: #5c6bc0;
  color: #ffffff;
}
/* line 153, style.less */
.post .date {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #bdbdbd;
  margin-bottom: 25px;
}
/* line 159, style.less */
.post h2 {
  font-family: 'Lato', sans-serif;
  font-size: 40px;
  font-weight: 700;
  color: #000000;
  margin-bottom: 80px;
  position: relative;
}
/* line 165, style.less */
.post h2::after {
  content: '';
  position: absolute;
  display: block;
  bottom: -40px;
  width: 100%;
  height: 2px;
  background-color: #eeeeee;
}
/* line 176, style.less */
.post p {
  font-family: 'Lato', sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 30px;
  color: #000000;
  margin-bottom: 30px;
}
/* line 182, style.less */
.post p.quote {
  font-family: 'Lato', sans-serif;
  font-size: 25px;
  font-weight: 400;
  line-height: 38px;
  font-style: italic;
  color: rgba(0, 0, 0, 0.3);
}
/* line 189, style.less */
.post p:last-of-type {
  margin-bottom: 55px;
}
/* line 194, style.less */
.post .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/* line 199, style.less */
.post .footer > a {
  font-family: 'Lato', sans-serif;
  font-size: 21px;
  font-weight: 700;
  color: #5c6bc0;
  text-transform: uppercase;
}
/* line 207, style.less */
.post .footer .tags a {
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.3);
  -webkit-transition: color 250ms ease-in-out;
  transition: color 250ms ease-in-out;
}
/* line 212, style.less */
.post .footer .tags a:hover {
  color: #000000;
}
/* line 220, style.less */
.paginator {
  text-align: center;
  margin-bottom: 115px;
}
/* line 224, style.less */
.paginator .page-numbers {
  display: inline-block;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 40px;
  color: #000000;
  width: 40px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.08);
  cursor: pointer;
  -webkit-transition: 250ms ease-in-out;
  transition: 250ms ease-in-out;
}
/* line 235, style.less */
.paginator .page-numbers:not(:last-of-type) {
  margin-right: 16px;
}
/* line 239, style.less */
.paginator .page-numbers.current,
.paginator .page-numbers:hover {
  color: #ffffff;
  background-color: #5c6bc0;
  -webkit-box-shadow: none;
          box-shadow: none;
}
/* line 247, style.less */
footer {
  background-color: #5c6bc0;
  padding: 67px 0 80px;
}
/* line 251, style.less */
footer .inner {
  width: 55%;
  max-width: 758px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/* line 261, style.less */
footer h3 {
  font-family: 'Lato', sans-serif;
  font-size: 36px;
  font-weight: 700;
  font-style: italic;
  color: rgba(0, 0, 0, 0.2);
  margin-bottom: 65px;
}
/* line 268, style.less */
footer ul {
  width: 60%;
  max-width: 420px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
/* line 277, style.less */
footer ul li {
  list-style: none;
  padding: 0 5px;
  color: #ffffff;
}
/* line 282, style.less */
footer ul li.current_page_item,
footer ul li:hover {
  color: rgba(255, 255, 255, 0.4);
}
/* line 288, style.less */
footer ul a {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(20%);
          flex: 0 0 calc(20%);
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5em;
  color: inherit;
  text-transform: uppercase;
  -webkit-transition: color 250ms ease-in-out;
  transition: color 250ms ease-in-out;
}
/* line 297, style.less */
footer ul img {
  height: 16px;
  -webkit-filter: invert(1) brightness(1000%);
          filter: invert(1) brightness(1000%);
  cursor: pointer;
}
/* line 304, style.less */
footer p {
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 23px;
  color: rgba(255, 255, 255, 0.4);
  text-align: center;
  margin: 90px 0 80px;
  position: relative;
}
/* line 312, style.less */
footer p::before,
footer p::after {
  content: '';
  display: block;
  position: absolute;
  top: -40px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.06);
}
/* line 323, style.less */
footer p::after {
  top: auto;
  bottom: -40px;
  left: 50%;
  width: 90%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
/* line 332, style.less */
footer .copyright {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.4);
  margin-bottom: 35px;
}
/* line 337, style.less */
footer .copyright span {
  font-weight: 700;
  color: #ffffff;
}
/* line 343, style.less */
footer .social {
  width: 25%;
  max-width: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
/* line 349, style.less */
footer .social img {
  height: 22px;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */