* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: monospace;
    background-color: #E1E2DB;
}

.inner {
    width: 100%;
    max-width: 1000px;
    margin: auto;
}

.hidden {
    display: none !important;
}

/* 
    Overlay for player pokemon selection
*/
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.95);
    z-index: 99;
    padding: 30px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.overlay h1 {
    color: #ececec;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
}

.overlay #pokemon_selector {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.overlay .pokemon {
    flex: 0 0 18%;
    display: flex;
    height: auto;
    cursor: pointer;
}

.overlay .pokemon:hover {
    position: relative;
    box-shadow: 0 0 4px lightcyan;
}

.overlay .pokemon img {
    max-width: 100%;
    z-index: -1;
    /* max-height: 20vw; */
}

/* 
    Main battlefield styling
*/

.battlefield {
    height: 75vh;
    background-color: #E1E2DB;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

.info, .pokemon {
    flex: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.pokemon {
    align-items: flex-end;
    position: relative;
}

.pokemon .monster {
    position: relative;
    z-index: 3;
}

.pokemon .monster img {
    max-height: 20vh;
}

#enemy_monster.pokemon .monster img {
    transform: rotateY(180deg);
}

.pokemon .damage {
    font-size: 15px;
    font-weight: 700;
    color: darkred;
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: damageTaken 1000ms forwards;
}

@keyframes damageTaken {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(2) translate(100%, -100%);
    }
    100% {
        transform: scale(1) translate(200%, -200%);
        opacity: 0;
    }
}

.matt {
    position: absolute;
    width: 100%;
    height: 50%;
    background-color: #C8C8AE;
    border-radius: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    transform: translateY(50%);
}

.matt_inner {
    width: 90%;
    height: 80%;
    background-color: #B0AF90;
    border-radius: 90%;
}

.info__boxWrapper {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.info__boxWrapper::after {
    content: '';
    position: absolute;
    height: 25px;
    width: 90%;
    bottom: 0;
    background-color: #413F54;
    z-index: 1;
    transform: translate(2%, 40%) skewX(45deg);
}

.info__boxWrapper.reverse::after {
    transform: translate(-2%, 40%) skewX(-45deg);
}

.info__box {
    width: 100%;
    background-color: #F0EFD0;
    border: 6px solid #212026;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    position: relative;
    z-index: 2;
}

.info__box .top {
    font-size: 18px;
    line-height: 30px;
}

.info__box .top, .info__box .bottom {
    display: flex;
    justify-content: space-between;
    padding: 0 6px;
}

.info__box .bottom {
    justify-content: flex-end;
    margin-bottom: 6px;
}

.hpBar {
    width: 80%;
    border-radius: 6px;
    background-color: #434254;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 2px 6px;
}

.hpBar .hp {
    font-size: 14px;
    font-weight: 900;
    line-height: 14px;
    padding-right: 3px;
    color: #DE7F53;
}

.hpBar .barWrapper {
    height: 8px;
    width: 100%;
    background-color: #FFFDFF;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.hpBar .barWrapper .bar {
    height: 100%;
    background-color: #6CD9A2;
    transition: width 250ms ease-in;
}

.controls {
    height: 25vh;
    position: relative;
    z-index: 2;
    background-color: #3E424D;
    padding: 10px 5px;
}

.controls .box {
    width: 100%;
    height: 100%;
    background-color: #D25030;
    border-radius: 10px;
    padding: 5px 15px;
}

.controls .box__inner {
    width: 100%;
    height: 100%;
    background-color: #579097;
    border-radius: 10px;
}