html {
  font-family: 'Lato', sans-serif;
}

header {
  width: 100%;
  height: 100vh;
  background-image: url(img/headerbg.png);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

/* Navbar */

header nav {
  padding-top: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav ul {
  font-size: 0;
  display: flex;
  align-items: center;
}

header nav ul * {
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d4959;
}

header nav ul a {
  position: relative;
  transition: color 250ms ease-in-out;
}

header nav ul a:hover {
  color: #64c29e;
}
header nav ul a::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  bottom: -2px;
  left: 0;
  height: 2px;
  background-color: #64c29e;
  transform: scale(0, 1);
  transition: transform 250ms ease-in-out;
}

header nav ul a:hover::after {
  transform: scale(1, 1);
}

header nav ul li {
  display: inline-block;
}

header nav ul li.center {
  margin: 0 30px;
}

header nav ul img.logo {
  margin: 0 64px;
}

/* About Us section */

section.aboutUs {
  text-align: center;
  background-color: #f7f7f7;
  padding-top: 115px;
  padding-bottom: 140px;
}

section.aboutUs .inner {
  width: 90%;
  max-width: 1080px;
  margin: 0 auto;
}

section.aboutUs img.icon {
  margin-bottom: 34px;
}

section.aboutUs h2 {
  font-size: 18px;
  font-weight: 700;
  color: #353738;
  margin-bottom: 35px;
}

section.aboutUs p {
  font-size: 18px;
  line-height: 34px;
  vertical-align: middle;
  color: #848789;
}

/* FlexBox middle page layout */

.bg {
  background-size: cover;
  background-position: center;
}

.bg.nr1 {
  background-image: url(img/bg1.png);
}

.bg.nr2 {
  background-image: url(img/bg2.png);
}

.bg.nr3 {
  background-image: url(img/bg3.png);
}

.bg.nr4 {
  background-image: url(img/bg4.png);
}

section.flexBox {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  width: 100%;
  /* max-width: 1600px; */
  /* margin: 0 auto; */
}

section.flexBox .contentBox {
  flex: 1 0 calc(100% / 3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section.flexBox .contentBox.double {
  flex: 1 0 calc((100% / 3) * 2);
}

section.flexBox .contentBox .bottomIMG {
  width: 100%;
}

section.flexBox article.contentBox .inner {
  flex: 1;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding: 71px 0 95px;
  position: relative;
}

section.flexBox article.contentBox .inner .icon {
  height: 40px;
  margin-bottom: 31px;
}

section.flexBox article.contentBox .inner h2 {
  font-size: 18px;
  font-weight: 700;
  color: #353738;
  margin-bottom: 35px;
  text-transform: uppercase;
}

section.flexBox article.contentBox .inner p {
  font-size: 16px;
  line-height: 30px;
  color: #848789;
  text-align: justify;
}

/* LINE Decoration */

section.flexBox article.contentBox .inner .decorations::before {
  content: '';
  position: absolute;
  background-color: #d7d7d7;
  width: 50px;
  height: 1px;
  bottom: 54px;
  left: 50%;
  transform: translateX(-50%);
}

/* ARROW Decoration */

section.flexBox article.contentBox .inner .decorations::after {
  content: '';
  position: absolute;
  background-color: #fff;
  width: 10px;
  height: 10px;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

/* Twitter posts section */

section.twitterFeed {
  position: relative;
  text-align: center;
}

section.twitterFeed .inner {
  width: 90%;
  margin: auto;
  max-width: 1080px;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  flex-wrap: nowrap;
}

section.twitterFeed .inner .post {
  flex: 1 0 100%;
  padding: 124px 0 183px;
  position: relative;
}

section.twitterFeed .inner .post img {
  height: 27px;
  margin-bottom: 37px;
}

section.twitterFeed .inner .post .author {
  font-family: Tahoma, sans-serif;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 29px;
  color: #353738;
}

section.twitterFeed .inner .post .author .time {
  font-weight: 400;
  color: #848789;
}

section.twitterFeed .inner .post p {
  font-size: 24px;
  line-height: 34px;
  vertical-align: middle;
  font-style: italic;
  font-weight: 400;
  color: #848789;
}

/* Twitter Posts slide controls and animation*/

section.twitterFeed .feedControl {
  position: absolute;
  bottom: 64px;
  left: 50%;
  transform: translateX(-50%);
}

section.twitterFeed .feedControl label {
  display: inline-block;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  border: 1px solid #a9afb3;
  cursor: pointer;
}

section.twitterFeed .feedControl .label2 {
  margin: 0 9px;
}

#one:checked ~ .feedControl .label1,
#two:checked ~ .feedControl .label2,
#three:checked ~ .feedControl .label3 {
  background-color: #a9afb3;
}

section.twitterFeed input[type="radio"] {
  display: none;
}

#one:checked ~ .inner .one,
#two:checked ~ .inner .two,
#three:checked ~ .inner .three {
  order: -1;
  animation: slide 500ms ease-in forwards;
}

@keyframes slide {
  from {
    right: -2000px;
  }

  to {
    right: 0;
  }
}

/* 
  FLEX Gallery
*/

section.flexGallery {
  width: 100%;
  display: flex;
  position: relative;
}

section.flexGallery .box {
  display: flex;
  flex-wrap: wrap;
}

section.flexGallery > .x1 {
  flex: 1 0 calc(100% / 6);
}

section.flexGallery > .x2 {
  flex: 1 0 calc(100% / 6 * 2);
}

section.flexGallery .flexSmall {
  height: calc(100vw / 6);
  flex: 1 0 50%;
}

section.flexGallery .flexSmall.x2 {
  flex: 1 0 100%;
}

section.flexGallery .overlay {
  position: absolute;
}

section.flexGallery .bg {
  position: relative;
}

section.flexGallery .bg:hover {
  cursor: pointer;
}

section.flexGallery .bg::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(100, 194, 158, 0.8);
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

section.flexGallery .bg:hover::before,
section.flexGallery .bg:hover .overlay {
  opacity: 1;
}

section.flexGallery .overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

section.flexGallery .overlay * {
  display: block;
  margin: 0 auto;
}

section.flexGallery .overlay span.text {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  white-space: nowrap;
  margin-top: 14px;
  letter-spacing: 0.2em;
}

section.flexGallery .overlay .icon {
  max-width: 51px;
}

.bg.shop1 {
  background-image: url(img/shop1.png);
}

.bg.shop2 {
  background-image: url(img/shop2.png);
}

.bg.shop3 {
  background-image: url(img/shop3.png);
}

.bg.shop4 {
  background-image: url(img/shop4.png);
}

.bg.shop5 {
  background-image: url(img/shop5.png);
}

.bg.shop6 {
  background-image: url(img/shop6.png);
}

.bg.shop7 {
  background-image: url(img/shop7.png);
}

.bg.shop8 {
  background-image: url(img/shop8.png);
}

section.shopBtn {
  background-color: #282f35;
  padding: 75px 0;
}

section.shopBtn button {
  all: unset;
  display: block;
  margin: 0 auto;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  border: 1px solid #94979a;
  padding: 20px 55px 18px 58px;
  letter-spacing: 0.2em;
  cursor: pointer;
  transition: background-color 250ms ease-in-out;
}

section.shopBtn button:hover {
  background-color: rgba(100, 194, 158, 0.5);
}

section.mailing {
  padding: 109px 0 111px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section.mailing .logo {
  max-width: 94px;
  margin-bottom: 38px;
}

section.mailing h2 {
  font-size: 24px;
  font-style: italic;
  color: #848789;
  margin-bottom: 34px;
}

section.mailing .form {
  width: 90%;
  display: flex;
  justify-content: center;
}

section.mailing input[type="text"] {
  all: unset;
  flex: 1;
  max-width: 400px;
  font-size: 20px;
  font-style: italic;
  color: #929292;
  padding: 0 26px;
  border: 1px solid #d3d7d9;
  margin-right: 8px;
  box-sizing: border-box;
}

section.mailing button {
  all: unset;
  padding: 26px 45px;
  text-transform: uppercase;
  background-color: #86c19e;
  font-size: 24px;
  font-weight: 300;
  color: #fff;
  box-sizing: border-box;
}

section.mailing button:hover {
  cursor: pointer;
  /* transform: translate3d(0, 0, 0); */
  animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, -1px, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 2px, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, -4px, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 4px, 0);
  }
}

footer {
  background-color: #f7f7f7;
}

footer .inner {
  max-width: 1100px;
  width: 70%;
  margin: 0 auto;
  padding: 100px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .address h3 {
  font-size: 16px;
  font-weight: 700;
  color: #848789;
  margin-bottom: 7px;
}

footer .address h4 {
  font-size: 14px;
  font-style: italic;
  color: #848789;
  margin-bottom: 5px;
}

footer .social {
  font-size: 0;
}

footer .social img {
  max-width: 45px;
  cursor: pointer;
}

footer .social img:nth-child(2) {
  margin: 0 15px;
}

footer .copyright {
  font-size: 0;
}

footer .copyright span {
  display: inline-block;
  font-size: 14px;
  font-style: italic;
  color: #848789;
  margin-right: 10px;
  line-height: 36px;
  vertical-align: middle;
}

footer .copyright img {
  display: inline-block;
  max-width: 55px;
  line-height: 36px;
  vertical-align: middle;
}

header nav img.logo.left {
  display: none;
}

/* 
  FLEX ORDER CLASS - DEFAULT
*/
.order1 {
  order: 1;
}
.order2 {
  order: 2;
}
.order3 {
  order: 3;
}
.order4 {
  order: 4;
}
.order5 {
  order: 5;
}
.order6 {
  order: 6;
}
.order7 {
  order: 7;
}

@media (max-width: 850px) {
  footer .inner {
    flex-wrap: wrap;
    justify-content: center;
  }

  footer .inner .address,
  footer .inner .social {
    flex: 1 0 50%;
    margin-bottom: 15px;
  }

  footer .inner .social {
    text-align: right;
  }
}

/* Phone only */
@media (max-width: 667px) {
  header nav img.logo.left {
    display: block;
    margin-left: 17px;
  }

  header nav ul img.logo {
    display: none;
  }

  header nav ul li.center {
    display: none;
  }

  header nav {
    justify-content: space-around;
    align-items: stretch;
    padding-top: 17px;
  }

  header nav ul {
    flex-wrap: wrap;
    flex: 1;
  }

  header nav ul li {
    flex: 1 0 50%;
    text-align: center;
  }

  section.flexBox .contentBox,
  section.flexBox .contentBox.double {
    flex: 1 0 50%;
  }

  section.flexBox .contentBox.order7 {
    flex: 1 0 100%;
    height: 25vh;
  }

  section.flexGallery {
    flex-wrap: wrap;
  }

  section.flexGallery > .x1,
  section.flexGallery > .x2 {
    flex: 1 0 50%;
  }

  section.mailing {
    padding: 55px 0;
  }

  section.mailing .form {
    flex-wrap: wrap;
  }

  section.mailing input[type="text"] {
    padding: 27px 26px 22px;
    margin: 0;
    margin-bottom: 8px;
    max-width: none;
    flex: 1 0 100%;
  }

  section.mailing button {
    text-align: center;
    flex: 1 0 100%;
  }

  footer .inner {
    width: 90%;
    padding: 50px 0;
  }

}





/* supper small nav */

#burger {
  display: none;
}

@media (max-width: 420px) {
  header nav {
    align-items: center;
    position: relative;
  }

  header nav ul {
    position: absolute;
    top: 100%;
    left: -120%;
    width: 95%;
    padding-top: 20px;
    background-color: #F3F4FA;
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;
    box-shadow: 0 2px 10px #c0cac7;
    transition: left 500ms ease-in-out;
    z-index: 1;
  }

  header nav ul li {
    flex: 1 0 100%;
    margin-bottom: 1.5em;
  }

  header nav label {
    cursor: pointer;
  }

  .burger,
  .burger::before,
  .burger::after {
    display: block;
    position: relative;
    height: 6px;
    width: 2em;
    border-radius: 3px;
    background-color: #64c29e;
    transition: transform 250ms ease-in-out;
  }

  .burger::before,
  .burger::after {
    content: '';
    position: absolute;
  }

  .burger::before {
    top: -8px;
  }

  .burger::after {
    bottom: -8px;
  }

  #burger:checked ~ ul {
    left: 0;
  }

  #burger:checked ~ label .burger {
    transform: rotate(225deg);
  }

  #burger:checked ~ label .burger::after {
    transform: rotate(90deg) translate(-8px, 0);
  }

  #burger:checked ~ label .burger::before {
    opacity: 0;
  }


  section.flexBox .contentBox {
    flex: 1 0 100%;
  }

  section.flexBox .contentBox.order3 {
    order: 4;
  }

  section.flexBox .contentBox.order4 {
    order: 3;
  }

  section.flexBox .contentBox.bg {
    height: 25vh;
  }

  section.flexGallery > .x2 {
    flex: 1 0 100%;
  }
  section.flexGallery > .x1,
  section.flexGallery .flexSmall{
    height: calc(100vh / 6);
  }

  section.shopBtn {
    padding: 30px 0;
  }

  section.shopBtn button {
    padding: 20px 25px 18px 28px;
  }

}

@media (max-width: 350px) {
  footer .inner .address,
  footer .inner .social {
    flex: 1 0 100%;
    text-align: center;
  }
}
