body {
    background-color: #ecf0f1;
}

.chatBox {
    background-color: #fff;
    border-radius: 10px;
    border-top: 4px solid #bdc3c7;
    width: 600px;
    height: 400px;
    overflow: auto;
    line-height: 2;
    margin-bottom: 20px;
    padding: 15px;
    box-sizing: border-box;
}

input {
    border: none;
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    border-top: 3px solid #bdc3c7;
    outline: none;
}

button {
    background-color: #2ecc71;
    color: #fff;
    padding: 15px;
    border-radius: 5px;
    border-top: 3px solid #16a085;
    cursor: pointer;
}