* {
  box-sizing: border-box;
}

body {
  font-family: 'Oswald', 'Courier New', monospace;
  font-weight: 400;
  padding: 50px 50px 0;
  background-color: #C8CFDC;
}

header {
  background-color: #fff;
  padding-bottom: 150px;
}

header nav {
  padding: 20px 30px 80px 20px;
}

header nav .leftSide, header nav .rightSide, header nav .leftSide li, header nav .leftSide .logo {
  display: inline-block;
  vertical-align: middle;
}

header nav .leftSide .logo {
  height: 50px;
  margin-right: 30px;
}

header nav a {
  color: #333333;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
}

header nav .leftSide li:not(:last-of-type) {
  margin-right: 40px;
}

header nav a::after {
  content: '';
  width: 0%;
  height: 4px;
  background-color: #0089cf;
  display: block;
  position: absolute;
  bottom: -35px;
  left: 0px;
  transition: width 250ms ease-in-out;
}

header nav a:hover::after {
  width: 100%;
}

header nav .rightSide {
  float: right;
}

header nav .rightSide li, header nav .rightSide a {
  display: inline-block;
  vertical-align: middle;
  line-height: 50px;
}

header nav .rightSide li img {
  margin-right: 10px;
}

header nav .rightSide a:not(:last-of-type) {
  margin-right: 30px;
}

header .inner {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  font-size: 0;
}

header .inner * {
  font-size: 16px;
}

header .inner .shoe {
  display: inline-block;
  vertical-align: bottom;
  width: 74%;
  padding-right: 10%;
  box-sizing: border-box;
}

header .inner .details {
  display: inline-block;
  vertical-align: bottom;
  width: 26%;
  padding-right: 10%;
  box-sizing: border-box;
}

header .inner .details .like {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border: 1px solid #e4e4e4;
  margin-bottom: 43px;
  cursor: pointer;
}

header .inner .details h2 {
  color: #333333;
  font-size: 25px;
  margin-bottom: 16px;
  font-weight: 600;
}

header .inner .details h3 {
  color: #333333;
  font-size: 35px;
  margin-bottom: 16px;
  font-weight: 600;
}

header .inner .details .price {
  color: #666666;
  font-size: 18px;
  margin-bottom: 25px;
}

header .inner .details .colors {
  color: #666666;
  font-size: 14px;
  margin-bottom: 15px;
  text-transform: uppercase;
}

header .inner .details .colors span {
  font: inherit;
  color: #0089cf;
  line-height: 1.4;
  margin-bottom: 15px;
}

header .inner .details .box {
  display: inline-block;
  vertical-align: top;
  width: 80px;
  height: 80px;
  box-sizing: border-box;
  border: 1px solid #e4e4e4;
  background-color: #F5F5F5;
  margin-right: 10px;
  position: relative;
  margin-bottom: 20px;
}

header .inner .details .box img {
  position: absolute;
  width: 80%;
  bottom: 17px;
  left: 50%;
  transform: translateX(-50%);
}

header .inner .details .box:not(.active) {
  filter: grayscale(100%);
  cursor: pointer;
}

header .inner .details .size {
  color: #666666;
  font-size: 12px;
  margin-bottom: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

select {
  display: inline-block;
  color: #666666;
  font-size: 14px;
  line-height: 1;
  font-weight: 500;
  text-transform: uppercase;
  border: 1px solid #e4e4e4;
  padding: 20px 94px 20px 20px;
  -webkit-appearance: none;
  appearance: none;
  font: inherit;
  background-image: url(img/arrow.svg);
  background-repeat: no-repeat;
  background-position: 90% center;
  background-size: 11px 8px;
  margin-right: 10px;
  vertical-align: top;
  box-sizing: border-box;
  margin-bottom: 10px;
}

button {
  /* all: none; */
  display: inline-block;
  font-size: 14px;
  line-height: 1;
  border: none;
  background-color: #333333;
  color: #fff;
  padding: 21px 32px;
  margin-bottom: 10px;
  box-sizing: border-box;
  white-space: nowrap;
  cursor: pointer;
}

section.feat1 {
  background-image: url(img/feat1bg.png);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  padding: 262px 50px;
  color: white;
  font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
}

section.feat1 h3 {
  font-size: 25px;
  margin-bottom: 30px;
  text-transform: uppercase;
  line-height: 1.3;
}

section.feat1 p {
  font-size: 14px;
  line-height: 25px;
  max-width: 390px;
}

.feat2 {
  background-color: #F5F5F5;
  padding: 60px 50px 50px;
}

.feat2 {
  font-size: 0;
}

.feat2 * {
  font-size: 16px;
}

.feat2 .leftSide, .feat2 .middle, .feat2 .rightSide {
  display: inline-block;
  vertical-align: middle;
}

.feat2 .leftSide {
  width: 34%;
}

.feat2 .middle {
  width: 40%;
}

.feat2 .rightSide {
  width: 26%;
  background-color: #fff;
  border: 4px solid #e4e4e4;
  padding: 20px 15px 25px 20px;
}

.feat2 .rightSide h2 {
  margin-bottom: 15px;
  font-size: 25px;
  color: #333333;
  text-transform: uppercase;
}

.feat2 .rightSide h3 {
  margin-bottom: 22px;
  font-size: 14px;
  color: #666666;
}

.feat2 .rightSide .colors {
  margin-bottom: 50px;
  font-size: 14px;
  color: #0089cf;
  text-transform: uppercase;
}

.feat2 .rightSide .shoe {
  margin-bottom: 50px;
}

.feat2 .rightSide .stockPrice {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.feat2 .rightSide .stockPrice .stock {
  font-size: 14px;
  text-transform: uppercase;
  color: #333333;
}

.feat2 .rightSide .stockPrice .stock {
  font-size: 18px;
  color: #333333;
}

.feat2 .leftSide h4 {
  font-size: 14px;
  color: #666666;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.feat2 .leftSide h2 {
  font-size: 25px;
  color: #333333;
  margin-bottom: 30px;
}

.feat2 .leftSide p {
  font-size: 14px;
  color: #666666;
  margin-bottom: 50px;
  line-height: 25px;
}

.feat2 .leftSide h3 {
  font-size: 14px;
  color: #666666;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.feat2 .leftSide h5 {
  font-size: 18px;
  color: #333333;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.feat2 .leftSide h6 {
  font-size: 12px;
  color: #333333;
  margin-bottom: 20px;
}

@media (max-width: 1050px) {
  header .inner .shoe, header .inner .details {
    width: 50%;
  }
}

header nav .rightSide .burger {
  display: none;
  height: 32px;
  vertical-align: middle;
  cursor: pointer;
}

@media (max-width: 1000px) {
  body {
    padding: 0;
  }
  header nav .rightSide a {
    display: none;
  }
  header nav .rightSide {
    line-height: 50px;
  }
  header nav .rightSide .burger {
    display: inline-block;
  }
  section.feat1 {
    padding: 130px 30px;
  }
  .feat2 .leftSide, .feat2 .rightSide {
    width: 50%
  }
  .feat2 .leftSide {
    padding-right: 50px;
  }
  .feat2 .middle {
    display: none;
  }
}

@media (max-width: 750px) {
  header nav .leftSide li {
    display: none;
  }
  header .inner .shoe, header .inner .details {
    display: block;
    width: 100%;
    margin: 0;
  }
  header .inner .shoe {
    margin-bottom: 50px;
  }
  header {
    padding-bottom: 50px;
  }
}

@media (max-width: 550px) {
  section.feat1 {
    padding: 100px 20px;
    text-align: center;
  }
  section.feat1 p {
    max-width: none;
    text-align: center;
  }
  .feat2 {
    padding: 50px 20px;
  }
  .feat2 .leftSide, .feat2 .rightSide {
    display: block;
    width: 100%;
    /* margin: 0; */
  }
  .feat2 .leftSide {
    padding-right: 0;
    margin-bottom: 50px;
  }
}

header nav .leftSide li {
  position: relative;
}

.dropDown {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #0089cf;
  color: #fff;
  padding: 20px;
  line-height: 2em;
  z-index: 999;
  display: none;
}

header nav .leftSide li:hover .dropDown {
  display: block;
}

.mobileMenu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #0089cf;
  color: #fff;
  z-index: 99;
  min-width: 250px;
  display: none;
}

.mobileMenu a {
  text-decoration: none;
  color: #fff;
}

.mobileMenu li {
  padding: 15px 20px;
  border-bottom: 1px solid #fff;
}

.popupBox {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 600px;
  padding: 50px;
  z-index: 5;
  background-color: #fff;
}

.popupBox h3 {
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 30px;
}

.popupBox p {
  line-height: 1.5;
  margin-bottom: 30px;
  font-size: 16px;
}

.popup::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 4;
}

.popup {
  display: none;
}