body {
    background-color: #666666;
}

.work {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.work img {
    max-width: 100%;
    flex: 1;
}
.work div {
    max-width: 100%;
    flex: 1;
}