body {
    background-color: rgb(90, 87, 87);
}

nav {
    display: block;
    background-color: #000000;
    width: 100%;
    color: #FFFFEF;
}

nav ul {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    font-size: 0;
}

nav ul li {
    display: inline-block;
    padding: 10px 25px;
    border-left: #FFFFEF 1px solid;
    cursor: pointer;
    font-size: 16px; 
}

nav ul li:hover {
    border-bottom: 4px green solid;
    padding-bottom: 6px;
}

main {
    display: block;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    margin-top: 50px;
    color: #4A4A4A;
    font-size: 0;
}

main article {
    background-color: white;
    width: 100%;
    margin-bottom: 20px;
    padding: 30px;
    box-sizing: border-box;
    font-size: 16px;
}

main article h2 {
    font-weight: 600;
    margin-bottom: 20px;
    font-size: 28px;
}

main article p {
    line-height: 1.5em;
    text-align: justify;
}

article.half-width {
    width: 49%;
    display: inline-block;
}

article.half-width.first {
    margin-right: 2%;
}

article.third-width {
    width: 32%;
    display: inline-block;
}

article.third-width.middle {
    margin-right: 2%;
    margin-left: 2%;
}