body {
    font-family: 'Roboto', 'Courier New', monospace;
}

section {
    background-color: aquamarine;
    margin-bottom: 20px;
}

.one p:first-of-type {
    position: relative;
}

.two {
    position: fixed;
}

.three {
    position: relative;
    height: 800px;
}

.three p {
    position: absolute;
    top: 50px;
    left: 50px;
    right: 100px;
    bottom: 700px;
    width: 100%;
    background-color: blue;
}