*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #FF512F;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #DD2476, #FF512F);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #DD2476, #FF512F);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Anton', sans-serif;
}

.hidden {
    display: none !important;
}

.sound {
    position: fixed;
    top: 15px;
    right: 15px;
    width: 30px;
    height: 30px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 11;
}

.sound img {
    z-index: -1;
    max-width: 100%;
    max-height: 100%;
}

.lvlSelect, .loss {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    background: #3a6186;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #89253e, #3a6186);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #89253e, #3a6186);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lvlSelect .inner,
.loss .inner {
    width: 90%;
    max-width: 900px;
    text-align: center;
    color: #cccccc;
}

.lvlSelect h1 {
    font-size: 40px;
    line-height: 60px;
    margin-bottom: 20px;
    letter-spacing: 0.2em;
}

.lvlSelect .text {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 20px;
    color: #72e220;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.lvlSelect .buttons {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.lvlSelect .lvlBtn {
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    border: none;
    box-sizing: border-box;
    width: 150px;
    font-size: 20px;
    line-height: 1.5em;
    letter-spacing: 0.2em;
    color: #f0f8ff;
    text-transform: uppercase;
    font-weight: 900;
    background-color: transparent;
    cursor: pointer;
    transition: 250ms ease-in;
    border: 2px dotted rgba(221, 36, 118, 0.8);
    border-radius: 5px;
    background-color: rgba(0,0,0,0.2);
}

.lvlSelect .lvlBtn:nth-child(1) {
    color: #72e220;
}

.lvlSelect .lvlBtn:nth-child(2) {
    color: #b8860b;
}

.lvlSelect .lvlBtn:nth-child(3) {
    color: #c80000;
}

.lvlSelect .lvlBtn:hover {
    background-color: rgba(0,0,0,0.4);
}

.lvlSelect .tooltip {
    margin-top: 30px;
    font-size: 16px;
    height: 30px;
}

.word {
    text-align: center;
    margin-top: 50px;
}

.word .letter {
    display: inline-block;
    margin: 0.1em;
    border-bottom: 4px solid #fff;
    font-size: 60px;
    width: 0.7em;
    height: 1.1em;
    line-height: 1.1em;
    vertical-align: bottom;
    text-transform: uppercase;
}


.wordTip {
    text-align: center;
    font-size: 20px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-top: 30px;
    color: #383838;
}

.wordTip span {
    color: #c1c9cf;
    margin-left: 15px;
}

.path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
}

.animate {
    animation: dash 2s linear forwards;
}

@keyframes dash {
    from {
        stroke-dashoffset: 1000;
    }
    to {
        stroke-dashoffset: 0;
    }
}

.status {
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
}

.status .score {
    order: 1;
    flex: 100%;
    text-align: center;
    font-size: 40px;
    letter-spacing: 0.2em;
    color: #72e220;
    line-height: 50px;
    margin-bottom: 20px;
}

.status .score span {
    padding-left: 10px;
}

.status .hangman {
    order: 3;
    height: 30vh;
    width: 40%;
}

.status .hangman svg {
    max-height: 100%;
}

.status .right {
    order: 2;
    flex: 1;
    border: 2px dashed #cccccc;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.status .used {
    display: block;
    text-align: center;
    font-size: 30px;
    letter-spacing: 0.1em;
}

.status .letter {
    display: inline-block;
    color: #cccccc;
    margin: 0.1em;
    font-size: 50px;
    width: 0.7em;
    height: 1.1em;
    line-height: 1.1em;
    vertical-align: bottom;
    text-transform: uppercase;
}

.status .letterList {
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
    padding: 5px 15px;
}

.loss .end {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    text-transform: uppercase;
    color: #8b0000;
    margin-bottom: 20px;
}

.loss .end img {
    width: 30%;
}
.loss .inner > h2 {
    font-size: 30px;
    letter-spacing: 0.1em;
    line-height: 1.2em;
    margin-bottom: 5px;
}

.loss .answer {
    color: #72e220;
    font-size: 30px;
    letter-spacing: 0.1em;
    line-height: 1.2em;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.loss .stats {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
}

.loss .stat {
    flex: calc(100% / 3);
}

.loss .stat h2 {
    font-weight: 400;
    font-size: 15px;
    color: #000000;
    letter-spacing: 0.1em;
    line-height: 1.2em;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.loss .stat .text,
.loss .stat .number {
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.1em;
    line-height: 1.2em;
    text-transform: uppercase;
}

.loss button {
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    border: none;
    box-sizing: border-box;
    font-size: 20px;
    line-height: 1.5em;
    letter-spacing: 0.2em;
    color: #f0f8ff;
    text-transform: uppercase;
    font-weight: 900;
    padding: 0 20px;
    background-color: transparent;
    cursor: pointer;
    transition: 250ms ease-in;
    border: 2px dotted rgba(221, 36, 118, 0.8);
    border-radius: 5px;
    background-color: rgba(0,0,0,0.2);
}

.loss button:hover {
    background-color: rgba(0,0,0,0.4);
}