/* 
font-family: 'Raleway', sans-serif;
font-family: 'Open Sans', sans-serif;
*/

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.inner {
  width: 80%;
  max-width: 1120px;
  margin: 0 auto;
}

/* 
  NAVBAR
*/

nav {
  position: fixed;
  width: 100%;
  background-color: #000000;
  z-index: 999;
}

nav .inner {
  padding: 21px 0 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .inner .logo, nav .inner ul, nav .inner li {
  display: inline-block;
}

nav .inner .logo {
  height: 27px;
}

nav .inner ul {
  font-size: 0;
}

nav .inner li {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.69);
  transition: color 250ms ease-in-out;
}

nav .inner a:hover li {
  color: #FF8B38;
}

nav .inner a:not(:last-of-type) {
  margin-right: 50px;
}

nav .nav__burger_control {
  display: none;
}

@media (max-width: 700px) {

  nav .inner .nav__ul {
    position: absolute;
    width: 60%;
    top: -200%;
    left: 50%;
    transform-origin: top;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 3px;
    z-index: 900;
  }

  @keyframes menuOpen {
    50%, 100% { top: calc(100% - 3px); }
    80% { top: calc(100% - 6px); }
  }

  nav .inner .nav__ul a {
    margin: 0;
    line-height: 24px;
    align-self: stretch;
    text-align: center;
    position: relative;
  }

  nav .inner .nav__ul a:not(:last-child)::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 30px;
    height: 1px;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.69);
  }

  nav .nav__burger_control {
    display: block;
    cursor: pointer;
  }

  nav .nav__burger_control:hover ~ .nav__ul {
    animation: menuOpen 500ms linear forwards;
  }

  nav .nav__burger,
  nav .nav__burger::before,
  nav .nav__burger::after {
    display: block;
    width: 2em;
    height: 4px;
    border-radius: 2px;
    background-color: #FF8B38;
    position: relative;
  }

  nav .nav__burger::before,
  nav .nav__burger::after {
    content: '';
    position: absolute;
  }

  nav .nav__burger::before {
    top: -8px;
  }

  nav .nav__burger::after {
    bottom: -8px;
  }
}

/* 
  HEADER
*/

/* 70px to top padding to accomodate navbar */

header {
  padding-top: 70px;
  background-image: url(img/header-bg2.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

header .inner {
  padding: 110px 0 137px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

header .textBox {
  max-width: 520px;
  color: #ffffff;
}

header .textBox .logo {
  height: 60px;
  margin-bottom: 35px;
}

header .textBox h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 1.2;
  padding-right: 1em;
  margin-bottom: 82px;
  position: relative;
}

header .textBox h1::after {
  content: '';
  width: 64px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  bottom: -40px;
  left: 0;
}

header .textBox p {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 23px;
  padding-right: 1em;
  margin-bottom: 44px;
}

header .textBox button {
  all: unset;
  box-sizing: border-box;
  font-size: 15px;
  font-weight: 600;
  padding: 14px 30px 13px;
  border: 2px solid #fff;
  cursor: pointer;
  transition: 250ms ease-in-out;
}

header .textBox button:hover {
  color: #FF9B51;
  border: 2px solid #FF9B51;
}

header .signup {
  text-align: right;
}

header .signup * {
  text-align: left;
}

header .signupBox {
  max-width: 360px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: #fff;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0px 0px 10px 0px black;
}

header .signupBox h2 {
  flex: 1;
  font-weight: 700;
  font-size: 20px;
  color: #333333;
  text-align: center;
  background-color: #F5F5F5;
  padding: 20px 56px 15px 52px;
}

header .signupBox h2 span {
  color: #ff8b38;
  text-transform: uppercase;
}

header .signupBox .inputs {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-align: left;
  padding: 30px 0 48px;
}

header .signupBox .inputs input {
  all: unset;
  font-size: 14px;
  font-weight: 400;
  color: #bdbdbd;
  padding: 10px 13px;
  margin-bottom: 36px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.16);
}

header .signupBox button {
  all: unset;
  padding: 21px 0 22px;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  background-color: #FF9B51;
  text-align: center;
  cursor: pointer;
}

@media (max-width: 1000px) {
  header .inner {
    flex-direction: column;
    align-items: center;
  }

  header .textBox {
    max-width: none;
    margin-bottom: 30px;
  }

  header .textBox h1,
  header .textBox p {
    padding-right: 0;
  }
}

@media (max-width: 700px) {
  header .textBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  header .textBox h1 {
    text-align: center;
  }

  header .textBox h1::after {
    left: 50%;
    transform: translateX(-50%);
  }
}

/* 
  BRAND BAR SECTION
*/

.brand {
  background-color: #fff;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.38);
  position: relative;
}

.brand .inner {
  display: flex;
  justify-content: space-between;
  padding: 24px 0 23px;
}

.brand .brand__text {
  flex: 1 0 30%;
}

.brand .brand__h2 {
  font-size: 20px;
  font-weight: 700;
  color: #333333;
  margin-bottom: 14px;
}

.brand .brand__p {
  font-size: 14px;
  line-height: 20px;
  color: #86878B;
}

.brand .brand__socialicons {
  flex: 1 0 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 48px;
  color: #cccccc;
}

.brand .brand__socialicons .fab, .brand .brand__socialicons .fas {
  cursor: pointer;
  transition: color 250ms ease-in-out;
}

.brand .brand__socialicons .fab:hover, .brand .brand__socialicons .fas:hover {
  color: #FF8B38;
}

@media (max-width: 900px) {
  .brand .inner {
    flex-direction: column;
  }
  .brand .brand__text {
    margin-bottom: 30px;
  }
}

@media (max-width: 600px) {
  .brand .brand__socialicons {
    flex-wrap: wrap;
  }

  .brand .brand__socialicons .fab,
  .brand .brand__socialicons .fas {
    flex: 0 0 25%;
    text-align: center;
    margin-bottom: 10px;
  }
}

/* 
  FEATURE 1 SECTION
*/

.feature1 {
  background-color: #F5F5F5;
}

.feature1 .inner {
  padding: 147px 0 110px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.feature1 .feature1__hidden_radio {
  display: none;
}

.feature1 .feature1__tab__control {
  flex: 0 0 114px;
  display: flex;
  flex-direction: column;
  position: relative;
  box-shadow: 1px 1px 2px #E9E9E9;
}

.feature1 .feature1__tab {
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
  color: #fff;
  padding: 45px 0;
  background-color: #333333;
  width: 112px;
  border: 1px solid #C7C7C7;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  transition: background-color 250ms ease-in-out;
}

.feature1 .feature1__tab:first-of-type {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.feature1 .feature1__tab:last-of-type {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.feature1 .feature1__tab--active {
  background-color: #FF8B38;
}

#ftr_tab1:checked~.feature1__tab__control .feature1__tab[for="ftr_tab1"], #ftr_tab2:checked~.feature1__tab__control .feature1__tab[for="ftr_tab2"], #ftr_tab3:checked~.feature1__tab__control .feature1__tab[for="ftr_tab3"] {
  background-color: #FF8B38;
}

.feature1__text {
  flex: 0 0 40%;
  max-width: 475px;
}

.feature1 .feature1__h2 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 58px;
}

.feature1 .feature1__p {
  font-size: 14px;
  line-height: 20px;
  color: #86878B;
  text-align: justify;
}

.feature1 .feature1__p:not(:last-child) {
  margin-bottom: 27px;
}

.feature1 .feature1__btn {
  all: unset;
  margin-top: 52px;
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
  color: #fff;
  padding: 12px 24px;
  background-color: #FF8B38;
  border-radius: 3px;
  box-shadow: 1px 2px 3px #C7C7C7;
  cursor: pointer;
}

.feature1__img {
  flex: 0 0 30%;
  align-self: center;
}

@media (max-width: 700px) {
  .feature1 .inner {
    align-items: center;
    flex-direction: column;
  }

  .feature1 .feature1__tab__control {
    flex-direction: row;
    margin-bottom: 30px;
  }

  .feature1 .feature1__tab:first-of-type {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }

  .feature1 .feature1__tab:last-of-type {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }

  .feature1__text {
    margin-bottom: 30px;
  }
}

@media (max-width: 500px) {
  .feature1 .inner {
    padding: 70px 0 50px;
  }

  .feature1 .feature1__tab__control {
    flex: 1;
  }

  .feature1 .feature1__tab {
    padding: 20px 0;
    width: 60px;
  }
}

/* 
  FEATURE 2 SECTION
*/

.feature2 {
  background-color: #FFFFFF;
}

.feature2 .inner {
  padding: 107px 0 134px;
  display: flex;
  justify-content: space-between;
}

.feature2 .feature2__img_wrapper, .feature2 .feature2__text {
  flex: 0 0 44%;
  max-width: 490px;
}

.feature2 .feature2__img_wrapper {
  align-self: center;
}

.feature2 .feature2__img {
  box-shadow: 0px 10px 20px #BEBEBE;
  position: relative;
}

.feature2 .feature2__text .feature2__h2 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 60px;
  position: relative;
}

.feature2 .feature2__text .feature2__h2::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -30px;
  width: 64px;
  height: 2px;
  background-color: #FF8B38;
}

.feature2 .feature2__text .feature2__p {
  font-size: 14px;
  line-height: 20px;
  color: #86878B;
  text-align: justify;
}

.feature2 .feature2__text .feature2__ul {
  margin-top: 50px;
  margin-left: 70px;
}

.feature2 .feature2__text .feature2__li {
  position: relative;
}

.feature2 .feature2__text .feature2__li:not(:last-child) {
  margin-bottom: 40px;
}

.feature2__li::before, .feature2__li::before {
  content: '';
  position: absolute;
  top: 0;
  left: -70px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  color: #FF8B38;
  border: 2px solid #FF8B38;
  border-radius: 50%;
}

.feature2__li--upload::before {
  content: '\f382';
}

.feature2__li--download::before {
  content: '\f381';
}

.feature2 .feature2__text .feature2__li .feature2__h3 {
  font-size: 14px;
  font-weight: 600;
  color: #212121;
  margin-bottom: 14px;
}

/* 
  FEATURE 3 (uses FEATURE 2 css) SECTION
*/

.feature3 {
  background-color: #F5F5F5;
}

.feature3 .inner {
  padding: 90px 0;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.feature3 .feature2__p:not(:last-of-type) {
  margin-bottom: 24px;
}

@media (max-width: 700px) {
  .feature2 .inner,
  .feature3 .inner {
    padding: 50px 0 60px;
    flex-direction: column-reverse;
    align-items: center;
  }

  .feature2 .feature2__text {
    margin-bottom: 30px;
  }
}

/* 
  OUR PROCESS SECTION
*/

.process {
  background-color: #FFFFFF;
}

.process .inner {
  padding: 105px 0;
  text-align: center;
}

.process .process__h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 43px;
  color: #212121;
  text-transform: uppercase;
  margin-bottom: 60px;
  position: relative;
}

.process .process__h2::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -30px;
  width: 64px;
  height: 2px;
  background-color: #FF8B38;
  transform: translateX(-50%);
}

.process .process__p {
  font-size: 14px;
  line-height: 20px;
  color: #86878B;
}

.process .process__cards {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.process .process__card {
  flex: 0 0 calc(100% / 3);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.process .process__card .process__icon {
  width: 66px;
  height: 66px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  color: #FF8B38;
  border: 2px solid #FF8B38;
  margin-bottom: 30px;
}

.process .process__card .process__h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #333333;
  margin-bottom: 26px;
}

.process .process__card .process__p {
  padding: 0 16px;
}

@media (max-width: 700px) {
  .process .inner {
    padding: 50px 0;
  }

  .process .process__cards {
    margin-top: 40px;
    flex-direction: column;
  }

  .process .process__card:not(:last-of-type) {
    margin-bottom: 20px;
  }
}

/* 
  PRICING SECTION
*/

.pricing {
  background-color: #F5F5F5;
}

.pricing .inner {
  padding: 105px 0 90px;
  text-align: center;
}

.pricing .pricing__h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 43px;
  color: #212121;
  text-transform: uppercase;
  margin-bottom: 60px;
  position: relative;
}

.pricing .pricing__h2::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -30px;
  width: 64px;
  height: 2px;
  background-color: #FF8B38;
  transform: translateX(-50%);
}

.pricing .pricing__p {
  font-size: 14px;
  line-height: 20px;
  color: #86878B;
}

.pricing .pricing__cards {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.pricing .pricing__card {
  flex: 0 0 33%;
  max-width: 340px;
  text-align: center;
}

.pricing .pricing__card .pricing__h3 {
  width: 100%;
  font-size: 20px;
  line-height: 24px;
  padding: 18px 0 17px;
  color: #FFFFFF;
  border-bottom: 1px solid #F5F5F5;
  background-color: #333333;
}

.pricing .pricing__card .pricing__price_box {
  font-size: 0;
  padding-bottom: 25px;
  background-color: #333333;
}

.pricing .pricing__card .pricing__price {
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-size: 94px;
  font-weight: 700;
  line-height: 110px;
  color: #FFFFFF;
}

.pricing .pricing__card .pricing__price--dollar {
  font-size: 35px;
  line-height: 1;
}

.pricing .pricing__card .pricing__occurence {
  font-size: 14px;
  font-weight: 600;
  font-style: italic;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.50);
}

.pricing .pricing__card .pricing__most_popular {
  font-size: 0;
  height: 5px;
  background-color: #FF8B38;
  border-bottom: 1px solid #F5F5F5;
}

.pricing .pricing__card .pricing__most_popular--enabled {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: #FFFFFF;
  text-transform: uppercase;
  padding: 8px 0;
  height: auto;
}

.pricing .pricing__card .pricing__specs li {
  font-size: 14px;
  line-height: 24px;
  color: #86878B;
  text-transform: uppercase;
  padding: 8px 0;
  background-color: #FFFFFF;
}

.pricing .pricing__card .pricing__specs li:not(:last-of-type) {
  border-bottom: 1px solid #F5F5F5;
}
@media (max-width: 800px) {
  .pricing .pricing__cards {
    justify-content: space-evenly;
    flex-direction: column;
    align-items: stretch;
  }

  .pricing .pricing__card {
    max-width: none;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }

  .pricing .pricing__card .pricing__price_box {
    flex: 0 0 33%;
  }

  .pricing .pricing__card .pricing__specs {
    flex: 1;
  }

  .pricing .pricing__card .pricing__most_popular {
    flex: 1 1 100%;
    order: -1;
  }
}

@media (max-width: 700px) {
  .pricing .inner {
    padding: 50px 0;
  }

  .pricing .pricing__cards {
    margin-top: 40px;
  }
}

@media (max-width: 600px) {
  .pricing .pricing__card {
    flex: 100%;
    display: block;
  }
}

/* 
  TESTIMONIALS SECTION
*/

.testimonials {
  background-color: #FFFFFF;
}

.testimonials .inner {
  padding: 105px 0 100px;
  text-align: center;
}

.testimonials .testimonials__h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 43px;
  color: #212121;
  text-transform: uppercase;
  margin-bottom: 60px;
  position: relative;
}

.testimonials .testimonials__h2::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -30px;
  width: 64px;
  height: 2px;
  background-color: #FF8B38;
  transform: translateX(-50%);
}

.testimonials .testimonials__p {
  font-size: 14px;
  line-height: 20px;
  color: #86878B;
}

.testimonials .testimonials__cards {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.testimonials .testimonials__card {
  flex: 0 0 32%;
  max-width: 275px;
}

.testimonials .testimonials__quote {
  font-size: 14px;
  font-style: italic;
  text-align: left;
  color: #86878B;
  padding: 25px 12px;
  background-color: #F5F5F5;
  position: relative;
}

.testimonials .testimonials__quote::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  bottom: -15px;
  left: 25px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 15px solid #F5F5F5;
}

.testimonials .testimonials__user {
  margin-top: 23px;
  padding-left: 87px;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
}

.testimonials .testimonials__user::before {
  content: '';
  position: absolute;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  top: 0;
  left: 0;
  background-color: #9A9A9A;
  background-position: center;
  background-size: cover;
}

.testimonials .testimonials__user--userbg1::before {
  background-image: url(img/user1.jpeg);
}

.testimonials .testimonials__user--userbg2::before {
  background-image: url(img/user2.png);
}

.testimonials .testimonials__user--userbg3::before {
  background-image: url(img/user3.jpeg);
}

.testimonials .testimonials__name {
  font-size: 20px;
  font-weight: 700;
  color: #333333;
  margin-bottom: 9px;
}

.testimonials .testimonials__title {
  font-size: 14px;
  color: #86878B;
}

@media (max-width: 700px) {
  .testimonials .inner {
    padding: 50px 0;
  }

  .testimonials .testimonials__cards {
    margin-top: 40px;
    flex-direction: column;
    align-items: center;
  }

  .testimonials .testimonials__card {
    max-width: none;
  }

  .testimonials .testimonials__card:not(:last-of-type) {
    margin-bottom: 20px;
  }
}

/* 
  CUSTOM SECTION
*/

.custom {
  background-color: #9A9A9A;
  background-image: url(img/custom_bg.jpeg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.custom .inner {
  padding: 75px 0 63px;
  text-align: center;
}

.custom .custom__h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 36px;
  font-weight: 400;
  color: #FFFFFF;
  text-transform: uppercase;
  margin-bottom: 67px;
  position: relative;
}

.custom .custom__h2::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -30px;
  width: 64px;
  height: 2px;
  background-color: #FFFFFF;
  transform: translateX(-50%);
}

.custom .custom__p {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.80);
}

.custom .custom__button {
  all: unset;
  margin-top: 33px;
  font-size: 15px;
  font-weight: 600;
  line-height: 38px;
  color: #FFFFFF;
  padding: 0 30px;
  border: 2px solid #FFFFFF;
  cursor: pointer;
}

/* 
  CONTACT US SECTION
*/

.contact {
  background-color: #FFFFFF;
}

.contact .inner {
  padding: 105px 0 82px;
  text-align: center;
}

.contact .contact__h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 43px;
  color: #212121;
  text-transform: uppercase;
  margin-bottom: 60px;
  position: relative;
}

.contact .contact__h2::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -30px;
  width: 64px;
  height: 2px;
  background-color: #FF8B38;
  transform: translateX(-50%);
}

.contact .contact__p {
  font-size: 14px;
  line-height: 20px;
  color: #86878B;
}

.contact .contact__inputs {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
}

.contact .contact__left {
  flex: 0 0 50%;
  padding-right: 30px;
}

.contact .contact__left .contact__name, .contact .contact__left .contact__email, .contact .contact__left .contact__subject {
  /* all: unset; */
  -webkit-appearance: none;
  appearance: none;
  border: none;
  outline: none;
  display: block;
  width: 100%;
  font-size: 14px;
  line-height: 34px;
  color: #BDBDBD;
  text-align: left;
  padding: 0 14px;
  border-bottom: 1px solid #D6D6D6;
  position: relative;
}

.contact .contact__left .contact__name, .contact .contact__left .contact__email {
  margin-bottom: 30px;
}

.contact .contact__right {
  flex: 0 0 50%;
  align-self: stretch;
  padding-left: 30px;
}

.contact .contact__right .contact__subject {
  /* all: unset; */
  -webkit-appearance: none;
  appearance: none;
  border: none;
  outline: none;
  resize: none;
  display: block;
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #BDBDBD;
  text-align: left;
  padding: 10px 14px;
  border-bottom: 1px solid #D6D6D6;
  position: relative;
}

.contact .contact__button {
  all: unset;
  margin-top: 42px;
  font-size: 15px;
  font-weight: 600;
  line-height: 44px;
  color: #FFFFFF;
  padding: 0 21px 0 24px;
  background-color: #FF9B51;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 0 1px 2px #CFCFCF;
  position: relative;
}

@media (max-width: 700px) {
  .contact .inner {
    padding: 50px 0 40px;
  }
}

@media (max-width: 500px) {
  .contact .contact__inputs {
    flex-wrap: wrap;
  }

  .contact .contact__left {
    margin-bottom: 30px;
  }

  .contact .contact__left,
  .contact .contact__right {
    flex: 0 0 100%;
    padding: 0;
  }

  .contact .contact__right {
    height: 20vh;
  }
}

/* 
  FOOTER
*/

footer {
  background-color: #000000;
  text-align: center;
}

footer .footer {
  padding-top: 17px;
  font-size: 0;
}

footer .footer__social_icons .icon {
  font-size: 24px;
  color: #CCCCCC;
  cursor: pointer;
  transition: color 250ms ease-in-out;
}

footer .footer__social_icons .icon:not(:last-of-type) {
  margin-right: 30px;
}

footer .footer__social_icons .icon:hover {
  color: #FF9B51;
}

footer .footer__cpr {
  font-size: 12px;
  line-height: 42px;
  color: rgba(255, 255, 255, 0.50);
}

@media (max-width: 400px) {
  .footer .footer__social_icons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .footer .footer__social_icons .icon {
    flex: 0 0 25%;
    text-align: center;
    margin: 0;
  }

  footer .footer__social_icons .icon:not(:last-of-type) {
    margin: 0;
    margin-bottom: 10px;
  }
}