* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

td, th {
    border-bottom: 1px solid rgb(190, 190, 190);
    padding: 10px;
}

td {
    text-align: center;
    text-transform: uppercase;
}

td img.trash {
    height: 25px;
    max-width: 100%;
    cursor: pointer;
}

tr:nth-child(even) {
    background-color: #eee;
}

tr:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

th {
    background-color: #696969;
    color: #fff;
}

caption {
    padding: 10px;
    caption-side: bottom;
}

table {
    margin-top: 20px;
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: .8rem;
}

.inner {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

h1 {
    flex: 100%;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
}

form {
    position: fixed;
    right: 100%;
    top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px 15px;
    transition: 250ms ease-in-out;
}

form.open {
    transform: translateX(100%);
}

form .tabs {
    align-self: stretch;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-evenly;
}

form label {
    flex: 1;
    font-size: 18px;
    font-weight: 700;
    color: #eee;
    text-align: center;
    text-transform: uppercase;
    padding: 5px 0;
    cursor: pointer;
}

#add_tab:checked ~ .tabs label[for='add_tab'],
#race_tab:checked ~ .tabs label[for='race_tab'] {
    background-color: #1b701b;
}

.add_tab, .race_tab {
    display: none;
    margin-bottom: 20px;
}

#add_tab:checked ~ .add_tab,
#race_tab:checked ~ .race_tab {
    display: block;
}

form svg {
    position: absolute;
    left: 100%;
    top: 0;
    height: 30px;
    width: 30px;
    background-color: transparent;
    cursor: pointer;
}

form svg path {
    fill: #1b701b;
}

form input, form button {
    appearance: none;
    -webkit-appearance: none;
    border: none;
    outline: none;
}

form button.randomBtn {
    margin-bottom: 0;
}

form input {
    font-size: 14px;
    line-height: 34px;
    /* border-bottom: 1px solid #696969; */
    border-radius: 5px;
    padding: 0 14px;
    margin-bottom: 20px;
}

form input[type='radio'] {
    display: none;
}

form button {
    width: 100%;
    font-size: 16px;
    font-weight: 700;
    line-height: 36px;
    padding: 0 16px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 10px;
    background-color: #1b701b;
    transition: background-color 250ms ease-in-out;
    cursor: pointer;
    position: relative;
    box-shadow: 1px 1px 4px rgba(255, 255, 255, 0.6);
}

form button:active {
    box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.6);
}

form button:hover {
    background-color: #3c3c;
}