body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

main {
    width: 90%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.word {
    font-size: 0;
    text-transform: uppercase;
    display: flex;
}

.word .letter {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    width: 1em;
    position: relative;
}

.word .letter::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -100%);
    width: 75%;
    height: 3px;
    background-color: rgba(0,0,0,0);
    box-shadow: 0 5px 5px rgba(0,0,0,0.5);
}