*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #FF512F;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #DD2476, #FF512F);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #DD2476, #FF512F);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Anton', sans-serif;
}

.word {
    text-align: center;
    margin-top: 50px;
}

.word .letter {
    display: inline-block;
    margin: 20px;
    border-bottom: 4px solid #fff;
    font-size: 60px;
    width: 1.3em;
    height: 1.3em;
    line-height: 1.3em;
    vertical-align: bottom;
    text-transform: uppercase;
}

.loading {
    width: 90%;
    margin: auto;
    max-width: 600px;
    height: 20px;
    border: 4px solid #fff;
    margin-top: 100px;
    position: relative;
    border-radius: 5px;
}

.bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    background-color: #fff;
    transition: width 200ms linear;
}

.message {
    text-align: center;
    font-size: 40px;
    margin-top: 100px;
}