td,
th {
    border-bottom: 1px solid rgb(190, 190, 190);
    padding: 10px;
}

td {
    text-align: center;
    text-transform: uppercase;
}

td.ticket--yes {
    background-color: darkred;
}

tr:nth-child(even) {
    background-color: #eee;
}

tr:hover {
    background-color: rgba(0,0,0,0.5);
}

th {
    background-color: #696969;
    color: #fff;
}

caption {
    padding: 10px;
    caption-side: bottom;
}

table {
    margin-top: 20px;
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: .8rem;
}

.inner {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

h1 {
    flex: 100%;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
}

form {
    flex: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

form input,
form button {
    appearance: none;
    -webkit-appearance: none;
    border: none;
    outline: none;
}

form input {
    width: 40%;
    font-size: 14px;
    line-height: 34px;
    margin-bottom: 20px;
    border-bottom: 1px solid #696969;
    padding: 0 14px;
}

form button {
    flex: 0 0 45%;
    font-size: 16px;
    font-weight: 700;
    line-height: 36px;
    padding: 0 16px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 10px;
    background-color: grey;
    transition: background-color 250ms ease-in-out;
    cursor: pointer;
}

form button:hover {
    background-color: #3c3c;
}
