body {
  font-family: 'Roboto', 'Courier New', monospace;
  font-weight: 400;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

header {
  background-image: url('img/pepsi2.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: rgb(156, 224, 23);
}

header .inner {
  width: 90%;
  margin: auto;
  max-width: 1060px;
  padding-bottom: 160px;
}

header .inner nav {
  margin-bottom: 160px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
  padding: 33px 0;
  overflow: auto;
}

header .inner nav .rightSide {
  float: right;
  line-height: 50px;
}

header nav .rightSide li {
  display: inline-block;
  text-transform: uppercase;
  vertical-align: middle;
  line-height: 1;
  cursor: pointer;
}

header nav .rightSide li.button {
  background-color: #222121;
  padding: 15px 20px;
  border-radius: 3px;
}

header nav .rightSide li:not(:last-of-type) {
  margin-right: 30px;
}

header .inner nav .leftSide {
  display: inline-block;
}

header .inner nav .leftSide .logo {
  height: 50px;
  width: auto;
  border-right: 1px solid rgba(255, 255, 255, 0.7);
  padding-right: 25px;
  margin-right: 25px;
  vertical-align: middle;
}

header .inner nav .leftSide .icon {
  height: 25px;
  width: auto;
  padding-right: 8px;
  margin-right: 25px;
  vertical-align: middle;
}

header .inner h2 {
  font-size: 40px;
  text-align: center;
  width: 80%;
  max-width: 800px;
  margin: auto;
  line-height: 1.5em;
  margin-bottom: 35px;
  color: rgb(224, 239, 9);
  font-weight: 900;
}

header .inner button {
  background-color: darkgreen;
  border: none;
  padding: 20px 30px;
  border-radius: 6px;
  display: block;
  margin: auto;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 900;
  outline: none;
}

section .inner {
  width: 90%;
  margin: auto;
  max-width: 1060px;
  padding: 80px 0px 110px;
  font-size: 0;
}

section .inner h3 {
  font-size: 28px;
  text-align: center;
  position: relative;
  margin-bottom: 60px;
}

section .inner h3::after {
  content: "";
  display: inline-block;
  height: 1px;
  width: 80px;
  background-color: brown;
  position: absolute;
  left: 50%;
  margin-left: -40px;
  bottom: -20px;
}

section .inner > p {
  width: 90%;
  max-width: 710px;
  text-align: center;
  margin: auto;
  line-height: 1.5em;
  color: #7f7f7f;
  margin-bottom: 75px;
  font-size: 16px;
}

section .inner .third {
  width: 30%;
  display: inline-block;
}

section .inner .third.middle {
  margin: 0 5%;
}

section .inner .third img {
  display: block;
  margin: auto;
  margin-bottom: 30px;
  width: 64px;
}

section .inner .third h4 {
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  margin-bottom: 25px;
}

section .inner .third p {
  text-align: center;
  line-height: 1.5;
  color: #7f7f7f;
  font-size: 14px;
}

section.colored {
  background-color: #ececec;
}

section.colored .inner .third {
  text-align: left;
}

section.colored .inner .third img {
  width: 100%;
  margin-bottom: 12px;
}

section.colored .inner .third h4 {
  text-align: left;
  margin-bottom: 8px;
}

section.colored .inner .third p {
  text-align: left;
}

.cta {
  background-image: url(img/greenbg.jpg);
  background-size: cover;
  background-attachment: fixed;
  padding: 80px 0;
  color: #fff;
}

.cta .inner {
  margin: auto;
  max-width: 1060px;
  width: 90%;
  font-size: 0;
}

.cta .inner .leftSide,
.cta .inner .rightSide {
  display: inline-block;
  vertical-align: middle;
}

.cta .inner .leftSide {
  width: 70%;
}

.cta .inner .rightSide {
  width: 30%;
  background-color: #e74c3c;
  font-size: 16px;
  text-transform: uppercase;
  padding: 15px 20px;
  line-height: 1.3em;
  border: 1px solid #000;
  border-radius: 3px;
}

.cta .inner .leftSide h3 {
  font-size: 32px;
  margin-bottom: 15px;
}

.cta .inner .leftSide p {
  font-size: 16px;
  line-height: 1.5em;
}

footer .inner {
  width: 90%;
  max-width: 1060px;
  margin: auto;
  padding-top: 110px;
  font-size: 0;
}

footer .inner * {
  font-size: 16px;
}

footer .inner .quarter {
  width: 25%;
  display: inline-block;
  vertical-align: top;
}

footer .inner .quarter h4 {
  font-weight: 600;
  margin-bottom: 25px;
}

footer .inner .quarter li {
  color: #7f8c8d;
  line-height: 2em;
}

footer .inner .quarter p {
  color: #7f8c8d;
  line-height: 1.5em;
}

footer .inner .quarter .inputWrapper {
  position: relative;
  margin-top: 25px;
}

footer .inner .quarter input {
  width: 100%;
  background-color: #1a1919;
  border: none;
  border-radius: 3px;
  padding: 12px 15px;
}

footer .inner .quarter .inputWrapper img {
  height: 18px;
  position: absolute;
  right: 14px;
  top: 50%;
  margin-top: -9px;
}

footer .footerBottom {
  margin-top: 65px;
  border-top: 1px solid #7f8c8d;
  padding: 12px 0;
}

footer .footerBottom .leftSide {
  display: inline-block;
  line-height: 32px;
}

footer .footerBottom .rightSide {
  float: right;
}

footer .footerBottom .rightSide img {
  display: inline-block;
  height: 32px;
  vertical-align: middle;
  margin-left: 5px;
}

.burger {
  height: 32px;
  vertical-align: middle;
  display: none;
  cursor: pointer;
}

/* Tablet & Phone */
@media (max-width: 1024px) {
  header .inner nav .rightSide li {
    display: none;
  }

  .burger {
    background-color: #fff;
    display: inline-block;
  }
}

/* Tablet only */
@media (min-width: 667px) and (max-width: 1024px) {
}

/* Phone only */
@media (max-width: 667px) {
  .hideOnMobile {
    display: none;
  }

  header .inner nav .leftSide .logo {
    border: none;
  }

  .hideOnMobile {
    display: none;
  }

  header .inner h2 {
    font-size: 28px;
  }

  header .inner nav {
    margin-bottom: 80px;
  }

  header .inner {
    padding-bottom: 80px;
  }

  section .inner {
    padding: 60px 0;
  }

  section .inner .third {
    display: block;
    width: 100%;
    margin-bottom: 30px;
  }

  section .inner .third.middle {
    margin: 0;
    margin-bottom: 30px;
  }

  .cta .inner .leftSide,
  .cta .inner .rightSide {
    display: block;
    width: 100%;
  }

  .cta .inner .leftSide {
    padding-right: 0;
    margin-bottom: 50px;
    text-align: center;
  }

  footer .inner .quarter {
    display: none;
  }

  footer  .inner {
    padding-top: 0;
  }

  footer .footerBottom {
    border: none;
    margin-top: 0;
    text-align: center;
  }

  footer .footerBottom .rightSide{
    float: none;
    text-align: center;
    margin-top: 20px;
  }
}