body {
  font-family: 'Open Sans', 'Roboto', sans-serif, monospace;
  font-weight: 400;
}

.inner {
  max-width: 1024px;
  width: 80%;
  margin: auto;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.outerGlow::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -5px;
  width: 100%;
  height: 5px;
  opacity: 0.11;
  background-image: linear-gradient(to bottom, black, rgba(0, 0, 0, 0));
}

header {
  position: relative;
  background-image: url(img/headbg.png);
  background-size: cover;
  background-attachment: fixed;
}

header .circle {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.56);
  border-radius: 50%;
}

header .circle.one {
  width: 117px;
  height: 117px;
  top: 50%;
  left: 50%;
  margin-top: -30px;
  margin-left: -75px;
}

header .circle.two {
  width: 92px;
  height: 92px;
  top: 50%;
  left: 50%;
  margin-top: -64px;
  margin-left: -16px;
}

header .circle.three {
  width: 71px;
  height: 71px;
  top: 50%;
  left: 50%;
  margin-top: -7px;
  margin-left: 10px;
}

header nav {
  background-color: rgba(255, 255, 255, 0.9);
  position: fixed;
  width: 100%;
  /* box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.11); */
  z-index: 100;
}

header nav div.inner {
  padding: 20px 47px 17px 35px;
  position: relative;
}

header nav .logo {
  /* display: inline-block; */
  height: 52px;
}

header nav ul {
  float: right;
  font-size: 0;
}

header nav a {
  position: relative;
  font-size: 17px;
  color: #454545;
  text-decoration: none;
  line-height: 52px;
  vertical-align: middle;
}

header nav a:not(.loginBtn)::after {
  content: '';
  display: block;
  height: 2px;
  background-color: #DE6D6E;
  position: absolute;
  bottom: -2px;
  left: 0;
  right: 0;
  transform: scale(0, 1);
  transition: transform 150ms ease-in-out;
}

header nav a:not(.loginBtn):hover::after {
  content: '';
  transform: scale(1, 1);
}

header nav li {
  display: inline-block;
  margin-right: 40px;
}

header nav .loginWrapper {
  display: inline-block;
  line-height: 52px;
  vertical-align: middle;
}

header nav .loginWrapper a.loginBtn {
  position: relative;
  background-color: #DE6D6E;
  color: #fff;
  border-radius: 3px;
  padding: 6px 14px 4px 33px;
  font-size: 17px;
  line-height: 1;
}

header nav .loginWrapper img.icon {
  height: 14px;
  position: absolute;
  left: 13px;
  top: 50%;
  transform: translateY(-50%);
}

header section {
  padding: 415px 0 82px;
  color: #FFFFFF;
  text-align: center;
}

header section h2 {
  font-size: 69px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 19px;
  text-shadow: 0px 0px 13px rgba(0, 0, 0, 0.22);
}

header section p {
  font-size: 25px;
  text-shadow: 0px 0px 13px rgba(0, 0, 0, 0.22);
}

section.topMain {
  position: relative;
  padding-top: 65px;
}

section.topMain h2 {
  font-size: 35px;
  color: #404040;
  margin-bottom: 21px;
  text-align: center;
}

section.topMain .inner>p {
  font-size: 17px;
  color: #636363;
  margin-bottom: 85px;
  text-align: center;
}

section .CCwrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

section .CC {
  width: 179px;
  height: 179px;
  border-radius: 50%;
  margin-bottom: 52px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

section .CC .icon {
  position: absolute;
  bottom: 56px;
}

section .CC.beerfix .icon {
  left: 64px;
}

section .CC h3 {
  position: absolute;
  bottom: 27px;
  font-size: 17px;
  color: #FFFFFF;
}

.CC.blue {
  background-color: #4EB9F4;
}

.CC.green {
  background-color: #6FC125;
}

.CC.red {
  background-color: #FF5649;
}

.CC.orange {
  background-color: #E48F23;
}

section .CC p {
  font-size: 12px;
  color: #FFFFFF;
  text-align: center;
  padding: 51px 27px 44px;
  overflow-y: hidden;
  opacity: 0;
  transition: opacity 500ms ease-in-out;
  z-index: 5;
}

section .CC:hover p {
  opacity: 1;
}

section .CC> :not(p) {
  opacity: 1;
  transition: opacity 500ms ease-in-out;
}

section .CC:hover> :not(p) {
  opacity: 0.26;
}

section.articles .inner {
  padding: 45px 13px 0 65px;
}

section.articles article {
  height: 132px;
  margin-bottom: 79px;
  overflow-y: hidden;
}

section.articles article img {
  height: 132px;
  margin-right: 25px;
  float: left;
}

section.articles article h3 {
  font-size: 27px;
  color: #404040;
  margin-bottom: 17px;
  text-align: left;
}

section.articles article p {
  font-size: 15px;
  line-height: 22px;
  vertical-align: middle;
  color: #8B8B8B;
  text-align: justify;
  word-break: break-all;
}

footer {
  background-image: url(img/footerbg.png);
}

footer .inner {
  padding: 37px 0 0 65px;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
}

footer .subMenu {
  flex: 1;
  margin-bottom: 35px;
  flex-basis: 100px;
}

footer .subMenu h4 {
  font-size: 21px;
  color: #AEAEAE;
  margin-bottom: 23px;
  white-space: nowrap;
}

footer .subMenu a {
  text-decoration: none;
  font-size: 15px;
  line-height: 22px;
  vertical-align: middle;
  color: #8B8B8B;
  transition: color 200ms ease-in-out;
}

footer .subMenu a:hover {
  color: rgba(255, 255, 255, 0.65);
}

footer .social {
  flex: 1;
  min-width: 270px;
  margin-top: 23px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer .social .buttons {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  cursor: pointer;
}

footer .social .buttons .circle {
  height: 52px;
  width: 52px;
  border-radius: 50%;
  background-color: #696b6a;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  margin-bottom: 30px;
  transition: background-color 200ms ease-in-out;
}

footer .social .buttons .circle:hover {
  background-color: rgba(255, 255, 255, 0.65);
}

footer .social p {
  font-size: 15px;
  line-height: 22px;
  vertical-align: middle;
  color: #8B8B8B;
  margin-bottom: 35px;
}

/* Responsive MENU */

header #topMenu {
  display: none;
}

@media screen and (max-width: 920px) {
  .topMenu {
    position: absolute;
    top: 46px;
    right: 0;
    cursor: pointer;
    /* height: 100%;
        display: flex;
        align-items: center; */
  }
  .topMenu span, .topMenu span::before, .topMenu span::after {
    display: block;
    position: relative;
    height: 6px;
    width: 2em;
    border-radius: 3px;
    background-color: #DE6D6E;
    transition: transform 250ms ease-in-out;
  }
  .topMenu span::before, .topMenu span::after {
    content: '';
    position: absolute;
  }
  .topMenu span::before {
    top: -8px;
  }
  .topMenu span::after {
    bottom: -8px;
  }
  #topMenu:checked~.topMenu span {
    transform: rotate(225deg);
  }
  #topMenu:checked~.topMenu span::after {
    transform: rotate(90deg) translate(-8px, 0);
  }
  #topMenu:checked~.topMenu span::before {
    opacity: 0;
  }
  header nav ul {
    /* display: none; */
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.9);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 0 2px 10px rgb(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    float: none;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 200ms ease-in-out;
  }
  header nav #topMenu:checked~ul {
    transform: scale(1, 1);
  }
  header nav ul li {
    margin: 0;
  }
}

@media screen and (max-width: 600px) {
  section.articles article img {
    height: 66px;
  }
}

@media screen and (max-width: 400px) {
  .inner {
    width: 98%;
  }
}