@bodyColor: #F7F9FC;
@bgColor: #5C6BC0;
@postBgColor: #FFFFFF;
@postDividerBg: #EEEEEE;
@fntPostColor: #000000;
@fntColor: #333333;
@fntFaded: #BDBDBD;
@catBgColor: #5C6BC0;
@catFntColor: #FFFFFF;
@footerFntColor: #FFFFFF;
@footerDividerColor: #000000;

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a { text-decoration: none; }

img {
    max-width: 100%;
}

.fnt(@fam, @size, @weight) {
    font-family: @fam, sans-serif;
    font-size: @size;
    font-weight: @weight;
}

body {
    background-color: @bodyColor;
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.progressBar {
    position: fixed;
    left: 0;
    top: 0;
    height: 4px;
    width: 55%;
    background-color: @bgColor;
    transition: width 250ms ease-in;
    z-index: 999;
}

.wrapper {
    width: 82%;
    max-width: 1148px;
    margin: auto;
}

.inner {
    width: 82%;
    max-width: 950px;
    margin: 0 auto;
}

nav {
    padding: 80px 0;

    &.inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        .fnt('Lato', 42px, 700);
        line-height: 42px;
        font-style: italic;
    }

    ul {
        font-size: 0;

        a {
            .fnt('Lato', 16px, 700);
            text-transform: uppercase;
            color: @fntColor;
            line-height: 25px;
            vertical-align: middle;
            position: relative;

            &:not(:last-of-type) {
                margin-right: 30px;
            }

            &.active {
                color: @fntFaded;
            }

            &:not(:last-of-type) li::after {
                content: '';
                position: absolute;
                bottom: -8px;
                display: block;
                width: 100%;
                height: 3px;
                background-color: @bgColor;
                transform-origin: left;
                transform: scale(0, 1);
                transition: transform 250ms ease-in-out;
            }

            &:not(.active):hover li::after{
                transform: scale(1, 1);
            }
        }

        li {
            display: inline-block;
            list-style: none;
        }

        .search {
            height: 16px;
        }
    }
}

.post {
    background-color: @postBgColor;
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
    position: relative;

    main {
        padding: 60px 97px 80px;
        position: relative;
    }

    .category {
        position: absolute;
        top: 20px;
        right: -12px;
        .fnt('Lato', 14px, 700);
        line-height: 32px;
        vertical-align: middle;
        padding: 0 12px;
        background-color: @catBgColor;
        color: @catFntColor;
    }

    .date {
        .fnt('Lato', 14px, 700);
        color: @fntFaded;
        margin-bottom: 25px;
    }

    h2 {
        .fnt('Lato', 40px, 700);
        color: @fntPostColor;
        margin-bottom: 80px;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            display: block;
            bottom: -40px;
            width: 100%;
            height: 2px;
            background-color: @postDividerBg;
        }
    }

    p {
        .fnt('Lato', 17px, 400);
        line-height: 30px;
        color: @fntPostColor;
        margin-bottom: 30px;

        &.quote {
            .fnt('Lato', 25px, 400);
            line-height: 38px;
            font-style: italic;
            color: fade(@fntPostColor, 30%);
        }

        &:last-of-type {
            margin-bottom: 55px;
        }
    }

    .footer {
        display: flex;
        justify-content: space-between;
        align-items: center;

        >a {
            .fnt('Lato', 21px, 700);
            color: @catBgColor;
            text-transform: uppercase;
        }

        .tags {

            a {
                .fnt('Lato', 15px, 400);
                color: fade(@fntPostColor, 30%);
                transition: color 250ms ease-in-out;

                &:hover {
                    color: @fntPostColor;
                }
            }
        }
    }
}

.paginator {
    text-align: center;
    margin-bottom: 115px;

    .page {
        display: inline-block;
        .fnt('Lato', 18px, 400);
        line-height: 40px;
        color: @fntPostColor;
        width: 40px;
        background-color: @catFntColor;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.08);
        cursor: pointer;
        transition: 250ms ease-in-out;

        &:not(:last-of-type) {
            margin-right: 16px;
        }

        &.active, &:hover {
            color: @footerFntColor;
            background-color: @bgColor;
            box-shadow: none;
        }
    }
}

footer {
    background-color: @bgColor;
    padding: 67px 0 80px;

    .inner {
        width: 55%;
        max-width: 758px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;    
    }

    h3 {
        .fnt('Lato', 36px, 700);
        font-style: italic;
        color: fade(@fntPostColor, 20%);
        margin-bottom: 65px;
    }

    menu {
        width: 60%;
        max-width: 420px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        
        a {
            flex: 0 0 calc(100% / 5);
            .fnt('Lato', 16px, 700);
            color: @footerFntColor;
            text-transform: uppercase;
            transition: color 250ms ease-in-out;

            &.active,
            &:hover {
                color: fade(@footerFntColor, 40%);
            }
        }

        img {
            height: 16px;
            filter: invert(1) brightness(1000%);
            cursor: pointer;
        }
    }

    p {
        .fnt('Lato', 13px, 400);
        line-height: 23px;
        color: fade(@footerFntColor, 40%);
        text-align: center;
        margin: 90px 0 80px;
        position: relative;

        &::before, &::after {
            content: '';
            display: block;
            position: absolute;
            top: -40px;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: fade(@footerDividerColor, 6%);
        }

        &::after {
            top: auto;
            bottom: -40px;
            left: 50%;
            width: 90%;
            transform: translateX(-50%);
        }
    }

    .copyright {
        .fnt('Lato', 14px, 400);
        color: fade(@footerFntColor, 40%);
        margin-bottom: 35px;

        span {
            font-weight: 700;
            color: @footerFntColor;
        }
    }

    .social {
        width: 25%;
        max-width: 130px;
        display: flex;
        justify-content: space-between;

        img {
            height: 22px;
            cursor: pointer;
        }
    }
}