.box{padding:50px;border:1px solid #808080;-webkit-box-shadow:2px 2px 5px #808080;box-shadow:2px 2px 5px #808080}.box.one{color:#008000}.box.two{border-radius:10px;width:100px;height:100px;overflow:hidden}.box.two p{color:#cf66f9}
/*# sourceMappingURL=main.css.map */