@maincolor: #cf66f9;

.rounded-square(@radius, @size) {
    border-radius: @radius;
    width: @size;
    height: @size;
}

.box {
    padding: 50px;
    border: 1px solid grey;
    box-shadow: 2px 2px 5px gray;

    &.one {
        color: green;
    }

    &.two {
        .rounded-square(10px, 100px);
        overflow: hidden;
    }

    &.two p {
        color: @maincolor;
    }
}